<% pageTitle="Application submitted" %>

<div class="inner_header no-user-signed-in">
    <%- partial ('../partials/inner-header.ejs')%>
</div>

<section class="column-two-thirds">
    <div class="container-confirmed govuk-!-margin-bottom-5">
        <h1 class="heading-xlarge confirmed">Application submitted</h1>
        <div class="heading-large govuk-!-font-weight-regular govuk-!-margin-top-0 govuk-!-margin-bottom-0">
            Application reference
        </div>
        <div class="heading-large govuk-!-margin-top-0 govuk-!-margin-bottom-6">
            <strong class="bold-text"><%= applicationId %></strong>
        </div>
    </div>

    <p>Confirmation email to <strong class="bold-text"><%= email %></strong></p>

    <h2 class="heading-large">
        What happens next
    </h2>

    <p>
        Your application will be processed within <%= sails.config.views.locals.numOfWorkingDays %> working days.
    </p>
    <p>
        We will email you when your legalised documents are available to download from your account.
    </p>
    <p>
        <a href="/dashboard">View applications</a>
    </p>
    <p>
        <a href="/select-service">Start new application</a>
    </p>
    <p>
        <a href="<%= sails.config.views.locals.feedbackURL %>" target="_blank">What did you think of this service?</a> (takes 30 seconds)
    </p>
</section>
