<% pageTitle="Check your application" %>

<div class="inner_header <% if (!user_data.loggedIn){ %>no-user-signed-in<% } %>">
    <a href="/additional-reference" class="back-to-previous govuk-link">Back</a>
    <%- partial('../partials/inner-header')%>
</div>

<h1 class="heading-xlarge">Check your application</h1>

<div class="column-two-thirds">

    <h2 class="heading-medium govuk-!-margin-top-2">Your application</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-0">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Uploaded files
            </dt>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/upload-files">
                    Change<span class="govuk-visually-hidden"> files</span>
                </a>
            </dd>
        </div>
    </dl>
    <ul class="govuk-list govuk-!-margin-bottom-6 govuk-!-margin-top-4 double-line-spacing">
        <% for(documentName of documentNames) { %>
            <li><%= documentName %></li>
        <% } %>
    </ul>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Your reference (optional)
            </dt>
            <dd class="govuk-summary-list__value">
                <% if (userRef) { %>
                    <%= userRef %>
                <% } else {%>
                    No reference entered
                <% } %>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/additional-reference">
                    Change<span class="govuk-visually-hidden"> reference</span>
                </a>
            </dd>
        </div>
    </dl>

    <h2 class="heading-medium govuk-!-margin-top-2">Cost</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Total for <%= totalDocuments %> PDFs
            </dt>
            <dd class="govuk-summary-list__value">
                <%= totalCost %>
            </dd>
        </div>
    </dl>

    <form action="/add-docs-to-db-handler" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button class="govuk-button" data-module="govuk-button" data-testid="app-id" data-value="<%= req.session.appId %>">
            Continue to payment
        </button>

    </form>
</div>
