<% pageTitle="e-Apostille application" %>

    <div class="inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%>">
        <a href="/dashboard" class="back-to-previous govuk-link">Back</a>
        <%- partial ('../partials/inner-header.ejs')%>
    </div>

    <% if (applicationStatus === 'Completed' && allDocumentsRejected || applicationStatus === 'Completed' && someDocumentsRejected) { %>
        <div class="column-two-thirds">
            <div class="govuk-notification-banner govuk-notification-banner--error" role="region" aria-labelledby="govuk-notification-banner-title"
            data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Application Issue
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        <%= (someDocumentsRejected) ? "Some of your" : "Your" %> documents could not be legalised.
                    </p>
                </div>
            </div>
        </div>
    <% } %>

    <% if (applicationStatus === 'Completed' && !applicationExpired && !allDocumentsRejected) { %>
        <div class="column-two-thirds">
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
                data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        <% if (daysLeftToDownload===0) {%>
                            You have until midnight
                        <%} else {%>
                            You have <%= daysLeftToDownload %> <% if (daysLeftToDownload===1) { %>day<%} else {%>days<% } %> left
                        <% } %>
                        to download the legalised documents.
                    </p>
                </div>
            </div>
        </div>
    <% } %>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="caption-xlarge">e-Apostille application</span>
            <h1 class="heading-xlarge govuk-!-margin-top-2">
                <%= applicationId %>
            </h1>
        </div>
    </div>

    <section class="column-two-thirds">
        <% if (applicationStatus === 'Completed') { %>
            <% if (applicationExpired) { %>
                <p>
                    The 21 day window to download the legalised documents has now expired to protect privacy.
                </p>
                <p>
                    If you did not download the PDFs, you will need to start a new application and re-upload the PDFs if you wish to have them legalised again. You will have to pay for each uploaded PDF.
                </p>
            <% } else if (!allDocumentsRejected) { %>
                <h2 class="heading-medium">Download and share PDFs</h2>
                <p>
                    Download as many copies as you want and share digitally (for example, by email).
                </p>
                <p>
                    Share the full PDF digitally. Do not share edited or printed copies as each PDF contains the FCDO Legalisation Office electronic signature to ensure authenticity.
                </p>
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        For data privacy reasons all PDFs are deleted after 21 days (midnight on the last day). If you do not download PDFs within 21 days you will need to apply and pay to have the documents legalised again.
                    </strong>
                </div>
                <h2 class="heading-medium">View in Adobe Reader</h2>
                <p>
                    If you want to view the legalised documents, eApostille certificate and electronic signatures, you must open the downloaded PDF in Adobe Reader (free software).
                </p>
            <% } %>
        <% } else { %>
            <p>
                Your application has been successfully submitted.
            </p>
            <p>
                We will notify you by email when it has been legalised. Your successfully legalised document will then be available for download from this page.
            </p>
            <p>
                You will have 21 days from when the documents have been successfully legalised to download them before they are deleted for data privacy reasons.
            </p>
        <% } %>

        <table class="govuk-table">
            <caption class="heading-medium"><% if (applicationExpired) { %>Uploaded <%}%>PDF files</caption>
            <tbody class="govuk-table__body">
                <% for (const document of documents) {%>
                    <%- partial ('../partials/documentRow.ejs', {document, applicationStatus, applicationId, applicationExpired})%>
                <% } %>
            </tbody>
        </table>

        <h2 class="heading-medium">Application details</h2>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-summary-list__key--wide">
                    Service
                </dt>
                <dd class="govuk-summary-list__value">
                    e-Apostille
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-summary-list__key--wide">
                    Date submitted
                </dt>
                <dd class="govuk-summary-list__value">
                    <%= dateSubmitted %>
                </dd>
            </div>
            <% if (userRef) { %>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-summary-list__key--wide">
                        Your reference
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= userRef %>
                    </dd>
                </div>
            <% } %>
        </dl>

        <h2 class="heading-medium">Payment details</h2>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-summary-list__key--wide">
                    Total paid
                </dt>
                <dd class="govuk-summary-list__value">
                    <%= originalCost %>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-summary-list__key--wide">
                    Payment reference
                </dt>
                <dd class="govuk-summary-list__value">
                    <%= paymentRef %>
                </dd>
            </div>
        </dl>

        <p>Your payment will appear on your bank statement as FCDO Legalisation Service.</p>

        <a
            href="/download-receipt/<%= applicationId %>"
            class="govuk-link govuk-!-margin-top-2" role="button"
            download="LegalisationPaymentReceipt-<%= applicationId %>.pdf"
        >
            Download your receipt
        </a>
    </section>
