<% if (applicationStatus === 'Completed' && document.status === 'Checked' && !applicationExpired ) { %>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            <span id="file-download-error-<%= document.apostilleReference %>" class="govuk-!-display-none govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> There's been an issue downloading your document
            </span>
            <%= document.name %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--right-align">
            <a class="govuk-button govuk-button--secondary govuk-!-margin-0 js-download-spinner" role="button"
                href="/download-file-handler/<%= applicationId %>/<%= document.apostilleReference %>"
                download="LegalisedDocument-<%= document.apostilleReference %>"
            >
                <div class="js-spinner-location download-spinner--position"></div>
                Download
                <span class="govuk-visually-hidden">
                    <%= document.name %>
                </span>
            </a>
        </td>
    </tr>
<% } else { %>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            <%= document.name %>
            <% if (document.status==='Rejected' ) {%>
                <p class="govuk-!-margin-top-4">This PDF has been rejected for the following reason:</p>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                    <%- partial ('./rejectionReasons.ejs', {document})%>
                </ul>
                <p class="govuk-!-margin-top-3">You have been refunded for this PDF.</p>
            <% } %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--right-align govuk-!-width-one-quarter">
            <% if (applicationExpired) { %>
                Download expired
            <% } else if (document.status==='Rejected' ) { %>
                <strong class="govuk-tag govuk-tag--red">
                    Rejected
                </strong>
            <% } else { %>
                <strong class="govuk-tag govuk-tag--blue">
                    In progress
                </strong>
            <% } %>
        </td>
    </tr>
<% } %>