<% if (applicationStatus === 'Completed' && document.status === 'Checked' ) { %>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            <%= document.name %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--right-align">
            <a class="govuk-button govuk-button--secondary govuk-!-margin-0" role="button"
                href="/download-file-handler/<%= applicationId %>/<%= document.apostilleReference %>"
                download="LegalisedDocument-<%= document.apostilleReference %>"
            >
                Download
                <span class="govuk-visually-hidden">
                    <%= document.name %>
                </span>
            </a>
        </td>
    </tr>
<% } else { %>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            <%= document.name %>
            <% if (document.status==='Rejected') {%>
                <p class="govuk-!-margin-top-4">This PDF has been rejected for the following reason:</p>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                    <% if (document.rejectedReason === "Foreign document") { %>
                        <li>
                            <span class="bold-text">
                                GRO certificates cannot be legalised by e-Apostille service
                            </span>
                            <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Further information
                                        <span class="govuk-visually-hidden">GRO certificates cannot be legalised by e-Apostille service</span>
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <p class="govuk-body">
                                        You must <a href="/select-service" class="govuk-link">use the paper-based service</a> to legalise
                                        General Register Office (GRO) certificates. This includes birth, marriage, civil partnership, death, adoption and
                                        commemorative certificates.
                                    </p>
                                    <p class="govuk-body">
                                        We can only legalise original paper certificates or paper certified copies produced by the GRO. We cannot legalise
                                        scanned copies.
                                    </p>
                                    <p class="govuk-body">
                                        We are unable to legalise scanned copies of GRO certificates.
                                        We can only legalise original paper certificates or paper certified
                                        copies that have been produced by the GRO.
                                    </p>
                                    <p class="govuk-body">
                                        Find out how to <a href="https://www.gro.gov.uk/gro/content/" class="govuk-link">get a paper certified copy from the GRO</a>. Screen reader support enabled.
                                    </p>
                                </div>
                            </details>
                        </li>
                    <% } else if (document.rejectedReason === "ACRO document") { %>
                        <li>
                            <span class="bold-text">
                                ACRO police certificate cannot be legalised by e-Apostille service
                            </span>
                            <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Further information
                                        <span class="govuk-visually-hidden">ACRO police certificate cannot be legalised by e-Apostille service</span>
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <p class="govuk-body">
                                        You must <a href="/select-service" class="govuk-link">use the paper-based service</a> to legalise to legalise ACRO Criminal Records Office police certificates.
                                    </p>
                                    <p class="govuk-body">
                                        We can only legalise original paper certificates or paper certified copies produced by the GRO. We cannot legalise scanned copies.
                                    </p>
                                    <p class="govuk-body">
                                        We are unable to legalise scanned copies of GRO certificates.
                                        We can only legalise original paper certificates or paper certified
                                        copies that have been produced by the GRO.
                                    </p>
                                </div>
                            </details>
                        </li>
                    <% } else {%>
                        <li>
                            <span class="bold-text">
                                Document cannot be legalised by e-Apostille service
                            </span>
                            <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Further information
                                        <span class="govuk-visually-hidden">Document cannot be legalised by e-Apostille service</span>
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <p class="govuk-body">
                                        Some documents cannot be legalised by the e-Apostille service. You may be able to [use the
                                        <a href="/select-service" class="govuk-link"> paper-based service instead</a>a>
                                    </p>
                                </div>
                            </details>
                        </li>
                    <% } %>
                </ul>
                <p class="govuk-!-margin-top-3">You have been refunded for this PDF.</p>
            <% } %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--right-align govuk-!-width-one-quarter">
            <% if (document.downloadExpired) { %>
                Download expired
            <% } else if (document.status === 'Rejected') { %>
                <strong class="govuk-tag govuk-tag--red">
                    Rejected
                </strong>
            <% } else { %>
                <strong class="govuk-tag govuk-tag--blue">
                    In progress
                </strong>
            <% } %>
        </td>
    </tr>
<% } %>