<% pageTitle = "Return address if we can’t legalise your documents" %>
<div class="inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%>" >
    <% console.log(same);
    var url = !summary ? '/modify-address?address_type=main' : '/review-summary';
    %>
    <a href="<%= url %>" class="back-to-previous govuk-link">Back</a>

    <%if (user_data.loggedIn) { %><%- partial ('../../partials/inner-header.ejs')%><%}%>

</div>

<%if (error_report && error_report.length>0) {%>
    <% pageTitle = "Error: Return address if we can’t legalise your documents" %>

    <div class="govuk-error-summary" role="alert" tabindex="-1" autofocus>

        <h2 class="govuk-error-summary__title" id="error-summary-heading">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body" id="all-errors">
            <ul class="govuk-list govuk-error-summary__list">
            <li style="color: #d4351c"><strong><%= error_report%></strong></li>
        </ul>
        </div>
    </div>
<%}%>
<h1 class="heading-xlarge">Return address if we can’t legalise your documents</h1>
<!-- STEP 3: Unsuccessful address? -->

<span class="error-message"></span>
<div class="column-two-thirds">
    <form id="is-same" method="post" action="/alternative-address-response">
        <div class="form-group <% if (error_report && error_report.length > 0) { %>error<% } %>">

              <fieldset class="govuk-fieldset" aria-describedby="radio-button-address">
                <label class="form-label-bold">Where would you like us to post your documents if we’re unable to
                    legalise them?
                </label>
                <div class="govuk-form-group">

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="radio-yes" type="radio" name="is_same" value="true"
                               <% if(typeof (same) != 'undefined' && same != null && same){ %>checked="checked"
                                <% } %>
                        >
                        <label class="govuk-radios__label <% if(typeof (same) != 'undefined' && same != null && same){ %>selected<% } %>"
                               data-target="main-address" for="radio-yes">
                            <strong>Same address as before</strong><br/>
                            <%
                            var address_start = "";
                            if (main_address.house_name == 'N/A') {
                                address_start = main_address.organisation
                            } else if (main_address.organisation) {
                                address_start = main_address.organisation + ', ' + main_address.house_name;
                            } else {
                                address_start = main_address.house_name
                            }

                            var contact_details = "";
                            if (main_address.telephone !== "" && main_address.telephone !== "undefined" && main_address.telephone !== null) {
                                contact_details = "Contact: " + main_address.telephone;
                                if (main_address.mobileNo !== "" && main_address.mobileNo !== "undefined" && main_address.mobileNo !== null) {
                                    contact_details = contact_details + ", " + main_address.mobileNo;
                                }

                                if (main_address.email !== "" && main_address.email !== "undefined" && main_address.email !== null) {
                                    contact_details = contact_details + ", " + main_address.email;
                                }
                            } else {

                            }
                            %>
                            <%= main_address.full_name %>, <%= address_start %>, <%= main_address.street %>
                            , <%= main_address.town %>,
                            <% if(main_address.county.length > 0){ %><%= main_address.county %>,
                            <% } %>
                            <% if(main_address.postcode.length > 2){ %><%= main_address.postcode %>,
                            <% } %>
                            <%= main_address.country %>
                            <% if(contact_details !== ""){ %><br/><%= contact_details %>
                            <% } %>
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="radio-no" type="radio" name="is_same" value="false"
                               <% if(typeof (same) != 'undefined' && same != null && !same){ %>checked="checked"
                                <% } %>
                        >
                        <label class="govuk-radios__label <% if(typeof (same) != 'undefined' && same != null && !same){ %>selected<% } %>"
                               for="radio-no">
                            <strong>Different address</strong>
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>


        <div class="form-group">
            <button role="button" draggable="false" class="govuk-button" data-module="govuk-button"
                    type="submit"><% if (!summary) { %>Continue<% } else { %>Save and return to summary<% } %>
            </button>
        </div>


    </form>
</div>
