<div class="inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%>" >
    <%
    //Back Button
    var back_link = type == 'main'? '/modify-your-basic-details' : '/alternative-address';
    if(summary){
        back_link = type == 'main'? '/review-summary': '/alternative-address';
    }
    %>
    <a href="<%= back_link %>" class="back-to-previous govuk-link">Back</a>

    <%- partial ('../../partials/inner-header.ejs')%>
</div>
<div class="govuk-error-summary <% if (error.length!=0) { %>show<% } else { %>hide<% } %>" role="alert" tabindex="-1" autofocus>

    <h2 class="govuk-error-summary__title" id="error-summary-heading">
        There is a problem
    </h2>

    <ul class="govuk-list govuk-error-summary__list">
        <li style="color: #d4351c"><strong><%= error%></strong></li>

    </ul>

</div>
<%
var title= type=='main' ?  " Return address details": "Return address if we can’t legalise your documents";
%>
<%if (error.length!=0) {
    pageTitle = "Error: "+ title
}
else{
    pageTitle = title
}%>
<h1 class="heading-xlarge"><%= title%></h1>

<%if(savedAddresses.length==1){%>
  <label class="form-label-bold">
    Do you want to use the address saved in your account?
  </label>
<%}else{%>
  <label class="form-label-bold">
    Do you want to use one of the addresses saved in your account?
  </label>
<%}%>

<br/>

<div class="<% if (error.length!=0) { %>error<%}%>">
    <form action="/use-saved-address-details" id="savedAddressDetailsForm" method="post" class="column-two-thirds">
        <fieldset aria-required="true" aria-expanded="true" role="radiogroup">
            <label class="visually-hidden">Choose from one of your saved addresses or select enter a new address</label>
                <% savedAddresses.forEach(function (address){
                if(address.id == user_data.addressesChosen[type=='main'?1:0] && !summary){}else{%>
            <%
                var address_start = "";
                if(address.house_name == 'N/A'){
                    address_start = address.organisation
                }
                else if (address.organisation){
                    address_start = address.organisation+', '+address.house_name;
                }
                else{
                    address_start = address.house_name
                }

                var contact_details = "";
                  if (address.telephone !== "" && address.telephone !== "undefined" && address.telephone !== null){
                      contact_details = "Contact: " + address.telephone;

                    if (address.mobileNo !== "" && address.mobileNo !== "undefined" && address.mobileNo !== null){
                      contact_details = contact_details + ", " + address.mobileNo;
                    }

                      if (address.email !== "" && address.email !== "undefined" && address.email !== null){
                      contact_details = contact_details + ", " + address.email;
                      }
                  } else {

                  }
            %>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" type="radio" id="savedAddressID-<%= address.id %>"
                       name="savedAddressID" value="<%= address.id %>" <% if(currentlySelected == address.id){ %>checked
                        <% } %>
                >
                <label class="govuk-radios__label <% if(currentlySelected == address.id){ %>selected <% } %>"
                       for="savedAddressID-<%= address.id %>"> <strong>Yes, use this address</strong><br>
                    <%= address.full_name %>, <%= address_start %>, <%= address.street %>, <%= address.town %>
                    <% if(address.county.length > 0){ %>, <%= address.county %>
                    <% } %>
                    ,
                    <% if(address.postcode.length > 2){ %><%= address.postcode %>
                    <% } %>
                    , <%= address.country %>
                    <% if(contact_details !== ""){ %><br/><%= contact_details %>
                    <% } %>
                </label>
            </div>
            <% }}); %>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" type="radio" id="savedAddressID" name="savedAddressID" value=-1
                       <% if(currentlySelected < 0){ %>checked
                        <% } %>
                >
                <label class="govuk-radios__label  <% if(currentlySelected == -2){ %>selected <% } %>"
                       for="savedAddressID"> <strong>No, I'll enter a new address</strong>
                </label>
            </div>

        </fieldset>

        <input type="hidden" name="address_type" value="<%= type%>">
        <div class="form-group">
            <input type="submit"  style="margin-top: 20px" role="button" draggable="false" class="govuk-button" data-module="govuk-button" value="<% if(summary && currentlySelected<0){%>Save and return to summary<%}else{%>Continue<% } %>" />
        </div>
    </form>

</div>
