<% if(address_type == 'main') {
    pageTitle = "Return address details - Get a document legalised – GOV.UK"
}else{
    pageTitle = "Return address if we can’t legalise your documents - Get a document legalised – GOV.UK"
} %>


<div class="inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%>" >
    <%
    var url = '/your-'+address_type+'-address-details';
    %>
    <a href="<%= url %>" class="back-to-previous">Back</a>

    <%if (user_data.loggedIn) { %><%- partial ('../../partials/inner-header.ejs')%><%}%>

</div>


<h1 class="heading-xlarge"><%= address_type == 'main' ? 'Return address details' : 'Return address if we can’t legalise your documents' %></h1>


<div class="error-summary hide" id="postcode-error" role="group" tabindex="-1"></div>

<div id="sr-notification-container" class="visually-hidden " aria-live="assertive" aria-atomic="true"></div>
<div class="form-group column-two-third">
    <form id="find-address-form" class="" method="post" action="<%= '/find-your-'+address_type+'-address'%>">
        <label class="form-label-bold" for="find-postcode">Enter postcode</label>
        <% if(typeof(error_report)!='undefined'){%><span class="error-message"><%= error_report%></span><%}%>

        <input class="form-control postcode" id="find-postcode" type="text" aria-required="true"
               value="<%if(user_address.address.postcode != null && user_address.address.country == 'United Kingdom') { %><%= user_address.address.postcode%><% } %>"
               name="find-postcode">
        <button class="button find-address button-secondary" type="submit" id="find-address">Find UK address</button>

        <a class="link address-manual" id="address-manual" href="<%= '/your-'+address_type+'-address-manual' %>" >Enter address manually</a>
    </form>


    <form id="select-address-form"  method="post" action="<%= '/select-your-'+address_type+'-address'%>">
        <input type="hidden" name="full_name" value="<%if(user_address.address.full_name != null){%><%= user_address.address.full_name %><%}%>">
        <div class="hide" id="address-list-group">
            <label class="form-label visuallyhidden" for="address-list-box">Pick an address</label>
            <select class="form-control" aria-required="true" id="address-list-box" name="address" form="select-address-form"
                    onchange="">
                <option disabled selected>Pick an address</option>
            </select>
        </div>
        <div id="select-address-button-div" class="js-hidden hide">
            <button class="button find-address button-secondary" type="submit" id="select-address-button">Select Address</button>
        </div>

    </form>
</div>

<div id="uk-address-form" class="hide">

    <form id="address_form" method="post" action="/add-uk-address" class=" column-two-thirds">
        <div class="form-group" id="address-details-group">

            <div class="form-group " id="legend_full_name">
                <label class="form-label-bold" for="full-name">Full name</label>
                <span class="form-hint">Name of the person you would like the documents returned to</span>
                <legend class="visuallyhidden">Full name</legend>
                <input class="form-control" id="full-name" type="text" name="full_name" aria-required="true" value="">

            </div>
            <div class="form-group" id="legend_organisation">
                <label class="form-label-bold" for="organisation">Company or organisation (optional)</label>
                <legend class="visuallyhidden">Company</legend>

                <input class="form-control" id="organisation" type="text" name="organisation" aria-required="false" value="" >
            </div>

            <div class="form-group" id="legend_house_name">
                <label class="form-label-bold" for="house_name">House name or number</label>
                <legend class="visuallyhidden">House name or number</legend>

                <input class="form-control" id="house_name" type="text" name="house_name" aria-required="true" value="" >
            </div>

            <div class="form-group" id="legend_street">
                <label class="form-label-bold" for="street">Street</label>
                <legend class="visuallyhidden">Street</legend>

                <input class="form-control" type="text" id="street" name="street" aria-required="true" value="" >
            </div>

            <div class="form-group" id="legend_town">
                <label class="form-label-bold" for="town">Town</label>
                <legend class="visuallyhidden">Town</legend>
                <input class="form-control" type="text" id="town" name="town" aria-required="true" value="" >
            </div>

            <div class="form-group" id="legend_county">
                <label class="form-label-bold" for="county">County <span>(optional)</span></label>
                <legend class="visuallyhidden">Country</legend>

                <input class="form-control" type="text" id="county" name="county" value="">
            </div>

            <div class="form-group" id="legend_postcode">
                <label class="form-label-bold" for="postcode">Postcode</label>
                <legend class="visuallyhidden">Postcode</legend>

                <input class="form-control form-control-1-4 postcode" id="postcode" name="postcode" type="text" aria-required="true" value="" >
            </div>

            <div class="form-group" id="legend_telephone">
            <label class="form-label-bold" for="telephone">Primary number</label>
              <span class="form-hint">Contact number for this address for delivery questions or updates</span>
                <legend class="visuallyhidden">Primary telephone number</legend>

            <input class="form-control" id="telephone" name="telephone" type="tel" aria-required="true" value="<% if (contact_telephone) { %><%= contact_telephone %><% } %>">
            </div>
          <div class="form-group" id="legend_mobileNo">
            <label class="form-label-bold" for="mobileNo">Mobile number</label>
            <span class="form-hint">Contact mobile number for this address for delivery questions or updates</span>
              <legend class="visuallyhidden">Mobile number</legend>

            <input class="form-control" id="mobileNo" name="mobileNo"  type="tel"  value="<% if (contact_mobileNo && contact_mobileNo!=null) { %><%= contact_mobileNo %><% } %>">
          </div>

            <div class="form-group" id="legend_email">
              <label class="form-label-bold" for="email">Email address <span>(optional)</span></label>
              <span class="form-hint">Contact email for this address for delivery questions or updates</span>
                <legend class="visuallyhidden">Email address</legend>

              <input class="form-control" id="text" name="email" type="text" autocomplete="off" value="<% if (contact_email) { %><%= contact_email %><% } %>">
            </div>

            <input type="hidden" name="country" value="United Kingdom">
            <input type="hidden" name="manual" value=false>
            <input type="hidden" name="address_type" value="<%= address_type%>">
        </div>

        <div class="form-group">
            <button id="NextBtn" class="button"><%if(summary){ %>Save and return to summary<% }else{%>Continue<%} %></button>
        </div>


    </form>
</div>

