<% pageTitle = "Your details" %>

<div class="inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%>" >
    <%
    var link = '/check-documents-important-information';

    if(summary){
        link = '/review-summary'
    }
    else if(selected_docs.totalQuantity > 0 && last_doc_checker_page){
        link = last_doc_checker_page
    }%>

    <a href="<%= link%>" class="back-to-previous govuk-link">Back</a>


    <%- partial ('../../partials/inner-header.ejs')%>
</div>

<h1 class="heading-xlarge">Your details</h1>

<form action="/saved-user-details" id="savedDetailsForm" method="post">
    <label class="form-label-bold">
      Do you want to use the contact details saved in your account?
    </label>

    <br />

    <table class="saved-details">
        <tr>
            <td style="font-weight: bold">First name</td><td><%= (account.first_name).substr(0,50)%></td>
        </tr>

        <tr>
            <td style="font-weight: bold">Last name</td><td><%= (account.last_name).substr(0,50)%></td>
        </tr>

        <tr>
            <td style="font-weight: bold">Mobile number</td><td> <% if(account.mobileNo != null){ %>
                    <%= account.mobileNo %>
                <% }else{ %>
                    None provided
                <% } %></td>
        </tr>

        <tr>
            <td style="font-weight: bold">Secondary phone number</td><td> <% if(account.telephone != null){ %>
                    <%= account.telephone %>
                <% }else{ %>
                    None provided
                <% } %></td>
        </tr>

        <tr>
            <td style="font-weight: bold">Email</td><td><%= user.email%></td>
        </tr>
    </table>

    <div class="govuk-radios govuk-radios--inline">

        <fieldset class="inline" aria-required="true" role="radiogroup">

            <label class="hide">
                Do you want to use the contact details saved in your account?
            </label>

            <br />

            <div class="govuk-radios__item">

                <input class="govuk-radios__input" id="radio-yes" type="radio" name="use_details" value=true required <% if(answer){ %>checked
                        <% } %>
                >
                <label class="govuk-radios__label" for="radio-yes">
                    Yes
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="radio-no" type="radio" name="use_details" value=false required <% if(!answer){ %>checked
                        <% } %>
                >
                <label class="govuk-radios__label" for="radio-no">
                    No
                </label>
            </div>

        </fieldset>

    </div>


<br>
    <div class="form-group">
        <input type="submit"  id='NextBtn' role="button" draggable="false" class="govuk-button" data-module="govuk-button" value="<% if(!summary){%>Continue<%}else{%>Save and return to summary<% } %>" />
    </div>
</form>
