<% pageTitle = "About your application - Get a document legalised – GOV.UK" %>
<div class="inner_header <% if (!user_data.loggedIn){ %>no-user-signed-in<% } %>">
  <a href="<%= !summary ? '/modify-about-documents' : '/review-summary' %>" class="back-to-previous">Back</a>
  <% //User email and logout link
  if (user_data.loggedIn) { %>
  <%- partial('../partials/inner-header.ejs') %>
  <% } %>
</div>

<% if (error_report && error_report[0][0]) { %>
<div class="govuk-error-summary" id="error-details" role="alert" aria-labelledby="error-details about-documents"
     tabindex="-1" autofocus>

  <h2 class="govuk-error-summary__title" id="govuk-error-summary-heading">
    There is a problem
  </h2>
  <div id="all-errors">
    <ul class="govuk-list govuk-error-summary__list">
      <% if (error_report) { %>
      <% error_report[0][0].errMsgs.forEach( function(errorMsgs) { %>
      <li><a href="#legend_<%= errorMsgs.questionId %>"><%= errorMsgs.fieldSolution %></a></li>
      <% }); %>
      <% } %>
    </ul>
  </div>
</div>
<% } %>

<h1 class="heading-xlarge" id="about-application">About your application</h1>


<form action="/add-residency" id="residency" method="post" class="column-two-thirds">

  <div
    class="form-group  <% if(error_report) {error_report[0][0].errMsgs.forEach( function(error) { %> <% if (error.questionId == "residency") { %>error<% }})} %>">
    <p class="text">Does your application relate to being able to live in an EU Member State (other than the UK)?</p>
    <div class="govuk-radios govuk-radios--inline">
    <fieldset class="inline" aria-required="true" role="radiogroup">

      <legend class="<% if (error_report) { %>show<% } else { %>hide<% } %>">
                <span class="error-message">
                  <% if (error_report) { %>
                  <% error_report[0][0].errMsgs.forEach( function(error) { %>
                  <% if (error.questionId == "residency") { %>
                  <%= error.fieldSolution %>
                  <% } %>
                  <% }) %>
                  <% } %>
                </span>
      </legend>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="radio-residency-yes" <% if (submit_status === true) { %>disabled="disabled" <% } %>type="radio" name="residency" value=true aria-required="true"
               <% if(typeof(residency) != 'undefined' && residency){ %>checked
                <% } %>
        >
      <label class="govuk-radios__label <% if(typeof(residency) != 'undefined' && residency && residency != null){ %>selected <% } %>" for="radio-residency-yes">
        Yes
      </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="radio-residency-no" <% if (submit_status === true) { %>disabled="disabled" <% } %>type="radio" name="residency" value=false aria-required="true"
               <% if(typeof(residency) != 'undefined' && !residency){ %>checked
                <% } %>
        >
      <label class="govuk-radios__label <% if(typeof(residency) != 'undefined' && !residency && residency != null){ %>selected <% } %>" for="radio-residency-no">
        No
      </label>
      </div>
    </fieldset>
  </div>
  </div>
  <div class="form-group">
    <input type="submit" id='NextBtn' role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button"
           value="<% if(!summary){ %>Continue<% }else{ %>Save and return to summary<% } %>"/>
  </div>
</form>

