<% pageTitle = "About your documents - Get a document legalised – GOV.UK" %>
<div class="inner_header <% if (!user_data.loggedIn){ %>no-user-signed-in<% } %>">
  <a href="<%= !summary ? '/modify-postage-return-options' : '/review-summary' %>" class="back-to-previous">Back</a>
  <% //User email and logout link
  if (user_data.loggedIn) { %>
  <%- partial('../partials/inner-header.ejs') %>
  <% } %>
</div>

<% if (error_report && error_report[0][0]) { %>
<div class="govuk-error-summary" id="error-details" role="alert" aria-labelledby="error-details about-documents"
     tabindex="-1" autofocus>

  <h2 class="govuk-error-summary__title" id="error-summary-heading">
    There is a problem
  </h2>
  <div id="all-errors">
    <ul class="govuk-list govuk-error-summary__list">
      <% if (error_report) { %>
      <% error_report[0][0].errMsgs.forEach( function(errorMsgs) { %>
      <li><a href="#legend_<%= errorMsgs.questionId %>"><%= errorMsgs.fieldSolution %></a></li>
      <% }); %>
      <% } %>
    </ul>
  </div>
</div>
<%}%>
<h1 class="heading-xlarge" id="about-documents">About your documents</h1>


<form action="<% if (!changing) { %>/add-about-documents<% } else {%>/modify-about-documents/success<% } %>" id="about-docs" method="post" class="column-two-thirds">
  <% if(user_data.loggedIn && user_data.account.doc_reside_EU != null && !changing){ %>
  <input type="hidden" name="doc_reside_EU" value="<%= user_data.account.doc_reside_EU %>">
  <% }else{ %>
  <div
    class="form-group  <% if(error_report) {error_report[0][0].errMsgs.forEach( function(error) { %> <% if (error.questionId == "doc_reside_EU") { %>error<% }})} %>">
    <p class="text">Are the documents to be legalised for a British national currently living in an EU Member State (other than the UK)?</p>
    <div class="govuk-radios govuk-radios--inline">
    <fieldset class="inline" aria-required="true" role="radiogroup">

      <legend class="<% if (error_report) { %>show<% } else { %>hide<% } %>">
                <span class="error-message">
                  <% if (error_report) { %>
                  <% error_report[0][0].errMsgs.forEach( function(error) { %>
                  <% if (error.questionId == "doc_reside_EU") { %>
                  <%= error.fieldSolution %>
                  <% } %>
                  <% }) %>
                  <% } %>
                </span>
      </legend>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="radio-reside-eu-yes" <% if (submit_status === true) { %>disabled="disabled" <% } %>type="radio" name="doc_reside_EU" value=true aria-required="true"
               <% if(typeof(doc_reside_EU) != 'undefined' && doc_reside_EU){ %>checked
                <% } %>>
        <label class="govuk-radios__label <% if(typeof(doc_reside_EU) != 'undefined' && doc_reside_EU && doc_reside_EU != null){ %>selected <% } %>"
          for="radio-reside-eu-yes">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="radio-reside-eu-no" <% if (submit_status === true) { %>disabled="disabled" <% } %>type="radio" name="doc_reside_EU" value=false aria-required="true"
               <% if(typeof(doc_reside_EU) != 'undefined' && !doc_reside_EU){ %>checked
                <% } %>>
        <label class="govuk-radios__label <% if(typeof(doc_reside_EU) != 'undefined' && !doc_reside_EU && doc_reside_EU != null){ %>selected <% } %>" for="radio-reside-eu-no">
          No
        </label>
      </div>
    </fieldset>
    </div>
  </div>
  <% } %>
  <div class="form-group">
    <input type="submit" id='NextBtn' role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button"
           value="<% if(!summary){ %>Continue<% }else{ %>Save and return to summary<% } %>"/>
  </div>
</form>

