<% pageTitle = "Additional information - Get a document legalised – GOV.UK" %>
<div class="inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%>" >
    <a href="<%= !summary ? '/modify-about-application' : '/review-summary'%>" class="back-to-previous govuk-link">Back</a>
    <% //User email and logout link
    if (user_data.loggedIn) { %>
    <%- partial ('../partials/inner-header.ejs')%>
    <% } %>
</div>

<%if (error_report && error_report[0][0]) {%>
    <% pageTitle = "Error: Additional information - Get a document legalised – GOV.UK" %>

    <div class="govuk-error-summary" id="error-details" role="alert" aria-labelledby="error-details additional-information" tabindex="-1" autofocus>

    <h2 class="govuk-error-summary__title" id="error-summary-heading">
        There is a problem
    </h2>
    <div id="all-errors">
        <ul class="govuk-list govuk-error-summary__list">
            <% if (error_report) {  %>
            <% error_report[0][0].errMsgs.forEach( function(errorMsgs) { %>
            <li><a href="#legend_<%= errorMsgs.questionId %>"><%= errorMsgs.fieldSolution %></a></li>
            <% }); %>
            <% } %>
        </ul>
    </div>
</div>
<%}%>

<h1 class="heading-xlarge" id="additional-information">Additional information</h1>

<form action="<% if (!changing) { %>/add-additional-information<% } else {%>/modify-additional-information/success<% } %>" id="additional_info" method="post" class="column-two-thirds">
    <div class="form-group <% if(error_report) {error_report[0][0].errMsgs.forEach( function(error) { %><% if (error.questionId=="customer_ref") {  %>error<% }})}%>">
        <fieldset class="inline" id="legend_customer_ref">
            <label class="form-label-bold" for="customer_ref">Your reference (optional)</label>
            <span class="form-hint">If you have your own internal reference number you can enter it here</span>
            <legend class="visuallyhidden">If you have your own internal reference number you can enter it here
                <span class="error-message">
                    <% if (error_report) { %>
                    <% error_report[0][0].errMsgs.forEach( function(error) { %>
                    <% if (error.questionId=="customer_ref") { %>
                    <%= error.fieldSolution%>
                    <% } %>
                    <% }) %>
                    <% } %>
                </span>
            </legend>
            <input class="govuk-input govuk-!-width-one-half" id="customer_ref" value="<% if (form_values) { %><%= form_values.customer_ref || form_values.user_ref || ''%><% } %>" name="customer_ref" type="text" autocomplete="off" >
        </fieldset>
    </div>
    <%if(user_data.loggedIn && user_data.account.feedback_consent != null && !changing){%>
    <input type="hidden" name="feedback_consent" value="<%= user_data.account.feedback_consent %>">
    <%}else{%>
    <div class="form-group  <% if(error_report) {error_report[0][0].errMsgs.forEach( function(error) { %><% if (error.questionId=="feedback_consent") {  %>error<% }})}%>">
        <fieldset class="inline" aria-required="true" role="radiogroup">
            <h2 class="form-label-bold">Feedback</h2>
            <p class="text">We welcome your views on the legalisation service. If you agree to be contacted by answering "Yes" below, you will be consenting to share your personal data - name, email address, telephone number and service received - with our independent partner research agency, IFF Research. You may withdraw your consent at any stage by emailing <a href="mailto:consular.research@fco.gov.uk" rel="external" target="_blank">consular.research@fco.gov.uk <span class="visually-hidden"> opens in new window</span></a>. For more details on how your data will be handled in relation to feedback see the <a href="https://www.gov.uk/government/organisations/foreign-commonwealth-office/about/research"  rel="external" target="_blank">research privacy policy<span class="visually-hidden"> opens in new window</span></a>.<br></p>
            <p>Can our partner contact you for feedback to help improve this service?</p>

            <legend class="visuallyhidden">Can our partner contact you for feedback to help improve this service?
                <span class="error-message">
                    <% if (error_report) { %>
                    <% error_report[0][0].errMsgs.forEach( function(error) { %>
                    <% if (error.questionId=="feedback_consent") { %>
                    <%= error.fieldSolution%>
                    <% } %>
                    <% }) %>
                    <% } %>
                </span>
            </legend>

            <div class="govuk-radios govuk-radios--inline">
                <legend id="legend-feedback" class="hide">Can we contact you for feedback to help improve this service?</legend>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="radio-feedback-yes"  <% if (submit_status===true) { %>disabled="disabled"<% } %>type="radio"  name="feedback_consent" value=true <%if(typeof(feedback_consent)!='undefined' && feedback_consent){%>checked <%}%>>
                    <label class="govuk-radios__label <%if(typeof(feedback_consent)!='undefined' && feedback_consent){%>selected <%}%>" for="radio-feedback-yes" >
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="radio-feedback-no"  <% if (submit_status===true) { %>disabled="disabled"<% } %>type="radio" name="feedback_consent" value=false <%if(typeof(feedback_consent)!='undefined' && !feedback_consent){%>checked <%}%>>
                    <label class="govuk-radios__label <%if(typeof(feedback_consent)!='undefined' && !feedback_consent){%>selected <%}%>" for="radio-feedback-no">
                        No
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    </div>
    <%}%>
    <div class="form-group">
        <input type="submit"  id='NextBtn' role="button" draggable="false" class="govuk-button" data-module="govuk-button" value="<% if(!summary){%>Continue<%}else{%>Save and return to summary<% } %>" />
    </div>
</form>
