<% pageTitle = "Additional information - Get a document legalised – GOV.UK" %>
<div class="inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%>" >
    <a href="<%= !summary ? '/modify-postage-return-options' : '/review-summary'%>" class="back-to-previous">Back</a>
    <% //User email and logout link
    if (user_data.loggedIn) { %>
    <%- partial ('../partials/inner-header.ejs')%>
    <% } %>
</div>

<h1 class="heading-xlarge" id="additional-information">Additional information</h1>

<%if (error_report && error_report[0][0]) {%>
<div class="error-summary" id="error-details" role="group" aria-labelledby="error-details additional-information" tabindex="-1">

    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
        Please check the form
    </h2>
    <div id="all-errors">
        <ul class="error-summary-list nopadding">
            <% if (error_report) {  %>
            <% error_report[0][0].errMsgs.forEach( function(errorMsgs) { %>
            <li><a href="#legend_<%= errorMsgs.questionId %>"><%= errorMsgs.fieldSolution %></a></li>
            <% }); %>
            <% } %>
        </ul>
    </div>
</div>
<%}%>

<form action="<% if (!changing) { %>/add-additional-information<% } else {%>/modify-additional-information/success<% } %>" id="additional_info" method="post" class="column-two-thirds">
    <div class="form-group <% if(error_report) {error_report[0][0].errMsgs.forEach( function(error) { %><% if (error.questionId=="customer_ref") {  %>error<% }})}%>">
        <label class="form-label-bold" for="customer_ref">Your reference (optional)</label>
        <span class="form-hint">If you have your own internal reference number you can enter it here</span>
        <fieldset class="inline" id="legend_customer_ref">
            <legend class="<% if (error_report) { %>show<% } else { %>hide<% } %>">
                <span class="error-message">
                    <% if (error_report) { %>
                    <% error_report[0][0].errMsgs.forEach( function(error) { %>
                    <% if (error.questionId=="customer_ref") { %>
                    <%= error.fieldSolution%>
                    <% } %>
                    <% }) %>
                    <% } %>
                </span>
            </legend>
            <input class="form-control" id="customer_ref" value="<% if (form_values) { %><%= form_values.customer_ref || form_values.user_ref || ''%><% } %>" name="customer_ref" type="text" autocomplete="off" >
        </fieldset>
    </div>
    <%if(user_data.loggedIn && user_data.account.feedback_consent != null && !changing){%>
    <input type="hidden" name="feedback_consent" value="<%= user_data.account.feedback_consent %>">
    <%}else{%>
    <div class="form-group  <% if(error_report) {error_report[0][0].errMsgs.forEach( function(error) { %><% if (error.questionId=="feedback_consent") {  %>error<% }})}%>">
        <h2 class="form-label-bold">Feedback</h2>
        <p class="text">Can we contact you for feedback to help improve this service? For more information see the <a href="/terms-and-conditions" target="_blank">privacy policy<span class="visually-hidden"> opens in new window</span></a>.</p>
        <fieldset class="inline" aria-required="true" role="radiogroup">

            <legend class="<% if (error_report) { %>show<% } else { %>hide<% } %>">
                <span class="error-message">
                    <% if (error_report) { %>
                    <% error_report[0][0].errMsgs.forEach( function(error) { %>
                    <% if (error.questionId=="feedback_consent") { %>
                    <%= error.fieldSolution%>
                    <% } %>
                    <% }) %>
                    <% } %>
                </span>
            </legend>

            <label class="block-label <%if(typeof(feedback_consent)!='undefined' && feedback_consent && feedback_consent!= null){%>selected <%}%>" for="radio-feedback-yes" >
                <input id="radio-feedback-yes"  <% if (submit_status===true) { %>disabled="disabled"<% } %>type="radio"  name="feedback_consent" value=true
                       aria-required="true"
                       <%if(typeof(feedback_consent)!='undefined' && feedback_consent){%>checked <%}%>>
                Yes
            </label>
            <label class="block-label <%if(typeof(feedback_consent)!='undefined' && !feedback_consent && feedback_consent!= null){%>selected <%}%>" for="radio-feedback-no">
                <input id="radio-feedback-no"  <% if (submit_status===true) { %>disabled="disabled"<% } %>type="radio" name="feedback_consent" value=false
                       aria-required="true"
                       <%if(typeof(feedback_consent)!='undefined' && !feedback_consent){%>checked <%}%>>
                No
            </label>
        </fieldset>
    </div>
    </div>
    <%}%>
    <div class="form-group">
        <input type="submit"  id='NextBtn' class="button" value="<% if(!summary){%>Continue<%}else{%>Save and return to summary<% } %>" />
    </div>
</form>
