<% pageTitle = "Choose a service - Get a document legalised – GOV.UK" %>

<div class="inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%>" >

    <%if(back_link){%> <a href="<%= back_link%>" class="back-to-previous">Back</a><%}%>
    <% if (user_data.loggedIn) { %>
        <%- partial ('../partials/inner-header.ejs')%>
    <% }else{%>
        <div class="inner-header-content">
            <span class="email-logout-text">
                 <a  href="<%= userServiceURL%>/sign-in?next=serviceSelector&from=start" class="btn btn-success btn-sm" id="sign-in-link" >Sign in</a>
            </span>

        </div>
    <%} %>
</div>

<h1 class="heading-xlarge">Choose a service</h1>

<div class="column-two-thirds">
    <%if(user_data.user && user_data.user.dropOffEnabled){%>
        <div class="form-group">
            <h2 class="heading-medium">Business drop-off service</h2>
            <ul>
                <li>£30 per document</li>
                <li>Milton Keynes drop-off and collection only</li>
                <li>overnight service</li>
                <li>the counter opens on working days from 1pm to 2pm</li>
            </ul>
            <a class="application-option  button-secondary button" id="dropoff-service" href="/new-application?app_type_group=3">Start a business drop-off application</a>
        </div>
    <%}%>

    <div class="form-group">
        <h2 class="heading-medium nomargintop">Standard service</h2>
        <% if (!disableStandardServiceSection) { %>
            <ul>
                <li>Due to the impact of coronavirus (COVID-19) we are currently offering a reduced service</li>
                <li>Standard applications are accepted from existing account holders only and account creation is temporarily unavailable</li>
                <li>Applications are limited to 1 per week containing a maximum of 10 documents</li>
                <li>During this period turnaround times may be longer than usual</li>
                <li>If you are not an account holder and have an urgent requirement for legalisation please contact <a href="mailto:urgentlegalisation@fco.gov.uk" rel="external" target="_blank">UrgentLegalisation@fco.gov.uk <span class="visually-hidden"> opens in new window</span></a></li>
            </ul>

            <% if (user_data.loggedIn) { %>
                <a class="application-option button-secondary button" id="standard-service" href="/new-application?app_type_group=1">Start a standard application</a>
            <% } else { %>
                <a class="application-option button-secondary button" id="standard-service" href="<%= userServiceURL%>/sign-in?next=serviceSelector&from=start">Start a standard application</a>
            <% } %>
        <% } else { %>
            <p>You have used up your limit of 1 application per week containing a maximum of 10 documents</p>
        <% } %>
    </div>


        <div class="form-group  <%if(user_data.user && !user_data.user.premiumEnabled){%>hide<%}%>">
            <h2 class="heading-medium nomargintop">Premium service</h2>
            <ul>
                <li>for businesses only</li>
                <li>£75 per document</li>
                <li>London drop-off and collection only</li>
                <li>same-day service for applications received before 3:15pm</li>
                <li>the counter opens on working days, 9am to 1pm and 2pm to 4.45pm</li>
                <li>the counter opens on working days, 9am to 1pm and 2pm to 4:45pm</li>
            </ul>
            <%if(!user_data.loggedIn && !user_data.user.premiumEnabled){%>
                <p>To use the premium service you need to <a href="<%= userServiceURL%>/register?next=serviceSelector&from=start" class="create-account-link">create an account</a>. You'll be asked to provide company details.</p>
            <%}%>
            <a class="application-option  button-secondary button" id="premium-service" href="/new-application?app_type_group=2">Start a premium application</a>

        </div>

</div>
