<% pageTitle="Choose a service" %>

    <div class="inner_header no-user-signed-in">
        <%if(back_link){%>
            <a href="<%= back_link%>" class="back-to-previous govuk-link">Back</a>
        <%}%>
        <% if (user_data.loggedIn) { %>
            <%- partial ('../partials/inner-header.ejs')%>
        <% }else{%>
            <div class="inner-header-content">
                <span class="email-logout-text">
                     <a  href="<%= userServiceURL%>/sign-in?next=serviceSelector&from=start" class="govuk-link" id="sign-in-link" >Sign in</a>
                </span>

            </div>
        <%} %>
    </div>

    <div class="column-two-thirds">
        <%if (Boolean(errorMessage)) { %>
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
                 data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#no-service-chosen-error"><%= errorMessage %></a>
                        </li>
                    </ul>
                </div>
            </div>
        <%} else if (sails.config.views.locals.showNotificationBanner){%>
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
                 data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        <%= sails.config.views.locals.notificationBannerText%>
                    </p>
                </div>
            </div>
        <% } %>

        <% if (info.length > 0) { %>
            <div class="alert alert--success" role="alert">
                 <% info.forEach(function(item) { %>
                     <p class="alert__message"><%= item %></p>
                 <% }); %>
            </div>
        <% } %>

        <form action="/select-service" method="post">

            <fieldset class="govuk-fieldset" aria-labelledby="choose-service-label">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 id="choose-service-label" class="heading-large">Choose a service</h1>
                </legend>


                <p>With both standard paper-based and electronic (e-Apostille) services you will:</p>

                <ul>
                    <li>Apply and pay online</li>
                    <li>Pay by debit or credit card for each Apostille certificate required</li>
                </ul>
                <div class="govuk-inset-text govuk-!-margin-top-0">
                    Factor in courier or postage time and costs if you choose the paper-based service.
                </div>

            <div class="govuk-radios<%if (Boolean(errorMessage)) { %> govuk-form-group--error<%}%>">
                <%if (Boolean(errorMessage)) { %>
                    <span id="no-service-chosen-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> <%= errorMessage %>
                    </span>
                <%}%>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="choose-standard-service" name="choose-a-service" type="radio" value="standard" aria-describedby="no-service-chosen-error">
                    <label class="govuk-label govuk-radios__label" for="choose-standard-service">
                        <h2 class="heading-medium govuk-!-margin-top-0">Standard paper-based service</h2>
                    </label>
                    <div class="govuk-!-padding-left-3">
                        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                            <li>Send in signed documents by courier or post</li>
                            <li>Get legalised documents (with paper Apostilles) sent back to your specified address</li>
                            <li>Share legalised paper documents by courier or post</li>
                            <li>Account optional</li>
                            <li>Get your application processed within <%= sails.config.views.locals.numOfWorkingDaysStandard %> working days *</li>
                        </ul>
                    </div>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <h2>
                                <span class="govuk-details__summary-text">
                                    Courier and postage costs
                                </span>
                            </h2>
                        </summary>
                        <div class="govuk-details__text">
                            <h3 class="heading-medium govuk-!-margin-top-0">Courier costs</h3>
                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">Country</th>
                                        <th scope="col" class="govuk-table__header">Price</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header">UK (including British Forces Post Office)</th>
                                        <td class="govuk-table__cell">£<%= postagePrices[0].price %> per 1.5kg</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header">European countries (not including Albania, Armenia, Azerbaijan, Bosnia and Herzegovina, Georgia, Liechtenstein, Kazakhstan, Moldova, Montenegro, North Macedonia, Serbia and Turkey)</th>
                                        <td class="govuk-table__cell">£<%= postagePrices[1].price %> per 1.5kg</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header">Rest of the world</th>
                                        <td class="govuk-table__cell">£<%= postagePrices[2].price %> per 1.5kg</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h3 class="heading-medium govuk-!-margin-top-0">If you do not want to pay courier fees</h3>
                            <p>
                                Your documents will be returned by courier but if you’re in the UK you can have them returned by post. You must include
                                an A4-sized envelope with the return address written on it. Attach enough UK postage stamps to cover the return postage.
                            </p>
                        </div>
                    </details>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="choose-eApp-service" name="choose-a-service" type="radio" value="eApostille" aria-describedby="no-service-chosen-error">
                    <label class="govuk-label govuk-radios__label" for="choose-eApp-service">
                        <h2 class="heading-medium govuk-!-margin-top-0">Electronic 'e-Apostille' service</h2>
                    </label>
                    <div class="govuk-!-padding-left-3">
                        <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-0">
                            <li>Upload documents as PDFs electronically signed by a UK notary or solicitor</li>
                            <li>Download legalised documents (with e-Apostilles) as soon as they are ready</li>
                            <li>Share legalised digital versions, for example by email</li>
                            <li>Account required - allows you to check progress and download documents</li>
                            <li>Get your application processed within <%= sails.config.views.locals.numOfWorkingDaysEapp %> working days *</li>
                        </ul>
                    </div>
                </div>
                  <p> * Processing time may vary if there are questions about your application. </p>



                    <% if (user_data.user && (user_data.user.premiumServiceEnabled || user_data.user.dropOffEnabled)) { %>


                    <section class="business-services-box">
                        <%if(user_data.user && user_data.user.premiumServiceEnabled){%>
                            <div class="govuk-radios__item govuk-!-margin-bottom-7">
                                <input class="govuk-radios__input" id="choose-premium-service" name="choose-a-service" type="radio" value="premium" aria-describedby="no-service-chosen-error">
                                <label class="govuk-label govuk-radios__label" for="choose-premium-service">
                                    <h2 class="heading-medium govuk-!-margin-top-0">Restricted urgent service</h2>
                                </label>
                                <% if(sails.config.views.locals.showPremiumServiceWarningMessage === true) {%>
                                <div class="govuk-warning-text">
                                  <span class="govuk-warning-text__icon" aria-hidden="true" style="margin-top:5px">!</span>
                                  <strong class="govuk-warning-text__text">
                                    <span class="govuk-warning-text__assistive">Warning</span>
                                    <%= sails.config.views.locals.premiumServiceWarningMessageTextLine1 %>
                                    <% if(sails.config.views.locals.premiumServiceWarningMessageTextLine2 !== "") {%>
                                       <br /><br />
                                       <%= sails.config.views.locals.premiumServiceWarningMessageTextLine2 %>
                                    <%}%>
                                  </strong>
                                </div>
                                <%}%>
                                <div class="govuk-!-padding-left-3 govuk-body">

                                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-0">
                                        <li>£<%= sails.config.views.locals.urgentAppPrice %> for each Apostille issued</li>
                                        <li>Same-day drop off and collection (Milton Keynes)</li>
                                        <li>Drop off working days, 12pm to 12:20pm, collection from 1:30pm to 2pm</li>
                                        <li>Only available for pre-registered users whose documents meet the requirements for an urgent service</li>
                                    </ul>

                                    <% if(sails.config.views.locals.showPremiumServiceAmendedOpeningHours === true) {%>
                                    <h3 class="heading-small">Amended opening hours during December</h3>
                                    <p>The Next-Day Service Legalisation Office will operate under normal working hours unless specified below</p>

                                    <table class="govuk-table">
                                        <tbody class="govuk-table__body">
                                        <tr class="govuk-table__row">
                                            <th class="govuk-table__header">Thursday 14 December</th>
                                            <td class="govuk-table__cell">Amended hours – 09:00-12:30 (Drop-off), 13:30-15:30 (Collection)</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <th class="govuk-table__header">Friday 22 December</th>
                                            <td class="govuk-table__cell">Amended hours – 08:30-12:00 (Drop-off), 12:00-14:00 (Collection)</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <th class="govuk-table__header">Monday 25 December</th>
                                            <td class="govuk-table__cell">Closed</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <th class="govuk-table__header">Tuesday 26 December</th>
                                            <td class="govuk-table__cell">Closed</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <th class="govuk-table__header">Friday 29 December</th>
                                            <td class="govuk-table__cell">Amended hours – 08:30-12:00 (Drop-off), 12:00-14:00 (Collection) *</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <p>
                                        * All consignments dropped off must be collected on the same day as the office will not be re-opening, please ensure all consignments dropped
                                        off on previous dates have been collected by Friday 29 December.  Any uncollected consignments will be forwarded to the Legalisation Office near Milton Keynes.
                                    </p>
                                    <% } %>

                                </div>
                            </div>
                        <%}%>

                    <%if(user_data.user && user_data.user.dropOffEnabled){%>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="dropoff-service" name="choose-a-service" type="radio" value="dropoff" aria-describedby="no-service-chosen-error">
                            <label class="govuk-label govuk-radios__label" for="dropoff-service">
                                <h2 class="heading-medium govuk-!-margin-top-0">Business-only drop-off service (Milton Keynes)</h2>
                            </label>
                            <div class="govuk-!-padding-left-3">
                                <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                                    <li>£<%= sails.config.views.locals.dropOffAppPrice %> for each Apostille issued</li>
                                    <li>Overnight service</li>
                                    <li>Documents must be dropped off in person, in secure labelled packaging</li>
                                    <li>Drop off working days, 12:30pm to 1:30pm</li>
                                </ul>
                            </div>
                        </div>
                    <%}%>
                </section>

                <% } else { %>

                <div class="govuk-warning-text">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    If you require an apostille urgently, please consider using a <a href="https://www.gov.uk/government/publications/legalisation-next-day-service-providers" class="govuk-link">third party provider</a> who can provide a next day service.
                  </strong>
                </div>

                <div class="govuk-inset-text govuk-!-margin-top-0">
                    The list of third party businesses is impartial, and none of these service providers are recommended by the FCDO.
                    There will be additional fees charged by these providers. You should do your own research before deciding
                    which provider to use.
                </div>

                <% } %>

            </div>
            <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
                Continue
            </button>
            </fieldset>
        </form>
    </div>
