<% pageTitle = "Application confirmation" %>
<%
// sort total price
total_price_paid = parseFloat(total_price.price);
if (postage_details[0].price > 0) {
    total_price_paid = total_price_paid + parseFloat(postage_details[0].price);
}
if (postage_details[1].price > 0) {
    total_price_paid = total_price_paid + parseFloat(postage_details[1].price);
}
var postage_return_details = '';
if (postage_details[0].type === 'return'){
    postage_return_details = postage_details[0].pretty_title;
    postage_send_details = postage_details[1];
}
else if (postage_details[1].type === 'return') {
    postage_return_details = postage_details[1].pretty_title;
    postage_send_details = postage_details[0];
}

var fastTrackApplication = false

%>
<!-- ARIA live region -->
<div id="sr-notification-container" class="visually-hidden " aria-live="assertive" aria-atomic="true"></div>

<div class="inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%>" >
    <% if (user_data.loggedIn) { %>
    <%- partial ('../partials/inner-header.ejs')%>
    <% } %>
</div>

<div class="column-two-thirds" style="margin-bottom: 30px;">
    <div class="container-confirmed container">
        <h1 class="heading-large confirmed">
            <i class="flaticon-checked21"></i>Total amount: £<%= total_price_paid.toFixed(2) %> for <%= total_price.doc_count %> document<%if(total_price.doc_count!=1){%>s<%}%>
            and return by <%= postage_return_details %>
        </h1>
        <h2 class="heading-secondary confirmed">Application reference: <span><%= unique_application_id %></span></h2>
        <%if(email!=null){%><h2 class="heading-secondary confirmed">Email confirmation sent to <span><%= email %></span> </h2><%}%>
    </div>
</div>
<div class="form-group">
    <h2 class="heading-large nomargintop">What to do next</h2>
</div>


<div class="column-two-thirds">
    <h2 class="heading-medium nomargintop">1. Print your cover sheet</h2>

    <div class="form-group">
        <a class="govuk-button govuk-button--secondary" role="button" href="/print-cover-sheet" target="_blank" id="print-cover">Print cover sheet <span class="visually-hidden"> opens in new window</span></a>
    </div>

    <!--<details>
        <summary><span id="no-printer-link" class="summary">What to do if you don't have a printer</span></summary>
        <div class="panel-indent">
            If you don't have a printer, write down the application reference number, your name and address and send this to us with your documents.
           <%if(email!=null){%> We've also emailed you a copy of your application details, so you have the option to print them at another computer later. <%}%>
        </div>
    </details>-->

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What to do if you don't have a printer?
    </span>
        </summary>
        <div class="govuk-details__text">
            If you don't have a printer, write down the application reference number, your name and address and send this to us with your documents.
            <%if(email!=null){%> We've also sent you an email with the application reference and office address details, so you have the option to print that at another computer later.<%}%>
        </div>
    </details>

</div>
    <div class="form-group">
      <div class="column-two-thirds">
        <div class="heading-medium">2. Send your documents</div>

        <% if (postage_send_details.title === "You'll post your documents from the UK"){%>
            <p>Please send your documents and cover sheet via <span class="bold-text">Royal Mail tracked delivery</span> to:</p>

              <p>
                <span>
                    Legalisation Office<br/>
                    Foreign, Commonwealth and Development Office<br/>
                    PO Box 7656<br/>
                    Milton Keynes<br/>
                    MK11 9NS
                </span>
              </p>

        <%}else {%>
        <p>Please send your documents and cover sheet via <span class="bold-text">courier recorded delivery</span> to:</p>

        <%if (fastTrackApplication){%>
        <p><span>Legalisation Office<br/>
            <%} else {%>
        <p><span>Legalisation Office<br/>
            <%}%>
              Foreign, Commonwealth and Development Office<br/>
              Hanslope Park <br/>
              Hanslope  <br/>
              Milton Keynes<br/>
              MK19 7BH
      </span></p>
        <%}%>
      </div>
      <% if(postage_return_details === 'pre-paid envelope'){ %>
      <p class="column-two-thirds">Remember to include a self-addressed envelope with the correct stamps on, for the return of your documents.</p>

      <div class="help-content-div grid-row">
        <a href="#" style="padding: 0 15px!important; margin: 10px 0;" id="help-sae-link" class="help-content-link icon-toggle-right expandable column-one-half">Help with self-addressed envelopes<span class="visually-hidden noJs" > click to expand </span></a>

        <div class="help-content-body panel panel-border-narrow no-js-show">
          <div class="column-one-half">
            <%= helptext.sae.line2 %>
            <ul style="padding-bottom: 0px;">
              <li><%= helptext.sae.line3 %></li>
              <li><%= helptext.sae.line4 %><a href="<%= helptext.sae.linkURL %>" target="_blank" id="submit-application-royal-mail-link"><%= helptext.sae.linkText %></a></li>
              <li><%= helptext.sae.line5 %></li>
            </ul>
            <%= helptext.sae.line6 %> <br />
            <%= helptext.sae.line7 %>
          </div>
          <div class="no-js-show column-one-half">
            <img style="max-width: 100%" src="images/SAE-7.png" alt="Illustration of self-addressed envelope"/>
          </div>
        </div>
      </div>

        <%}%>

    </div>
<div class="column-two-thirds">
    <h2 class="heading-medium">How long it takes and when you'll be charged</h2>

    <p>Applications can take up to <%= sails.config.views.locals.numOfWorkingDaysStandard %> working days, plus courier or postage time.</p>

    <p>We manage payment as follows:</p>
    <ul>
        <li>your payment card is charged immediately</li>
        <li>if we haven’t received your documents within 60 days, your payment will be refunded and the money returned to your account - you  will need to make another application </li>
        <li>if we can’t legalise your documents, we’ll refund your payment, but will charge the courier fee to return your documents to you if you've not supplied your own prepaid return envelope</li>
    </ul>

    <div class="form-group"><p class=""></br>
            <a class="govuk-link" id="submit-application-feedback" href="<%= doneSurveyStandard%>" target="_blank">What did you think of this service? <span class="visually-hidden"> opens in new window</span></a> (takes 30 seconds)</p>
        <p class=""></br><a class="govuk-link" href="/start">Start a new application</a></p>

        <% if (user_data.loggedIn) { %>
        <p class=""></br><a class="govuk-link" id="submit-application-start-new" href="/dashboard">View my applications</a></p>
        <%}%>
    </div>

</div>
