<% pageTitle = "Print cover sheet" ;

var date = new Date(SummaryArray.Application.application_start_date);
var weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
var month = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
];

var fullDateString = weekday[date.getDay()] + ' ' + month[date.getMonth()] + ' ' + date.getDate() + ' ' + date.getFullYear();
%>

<% if (user_data.loggedIn) { %>
<div class="noPrint inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%> "  style="margin-bottom: 20px">
    <% if(dashboard){%>
    <a href="/dashboard" class="back-to-previous govuk-link">Back</a>
    <%}%>
    <%- partial ('../partials/inner-header.ejs')%>
</div>
<% } %>

<div id="cover-sheet-div">

<div id="print-header">
    <div style="float: left; width: 50%">
        <img id="fco-logo-new" title="Foreign &amp; Commonwealth Office" src="/images/fco-logo.png" alt="Foreign &amp; Commonwealth Office">
    </div>
    <div style="float: right; width: 50%;">
        <h1 class="heading-large" style="width: 100%">Application cover sheet</h1>
        <%if( SummaryArray.Application.serviceType==3){%>
        <p id="business-batch-number" style="text-align: right;">Batch number</p>
        <%}%>
    </div>
</div>

<div class="printable-summary">
    <table id="print-table-main">

        <tr>
            <td>Name</td><td>Application date</td>
        </tr>

        <tr>
            <td>
              <p class="cover-sheet-section-title"><%= (SummaryArray.UsersBasicDetails.first_name+' '+ SummaryArray.UsersBasicDetails.last_name.toUpperCase().substr(0,30))%></p>
            </td>
            <td>
              <p class="cover-sheet-section-title"><%= fullDateString%></p>
            </td>
        </tr>
      <tr class="cover-sheet-email">
        <td colspan="2">
          <%if(SummaryArray.UsersBasicDetails.email!=null){%><%= SummaryArray.UsersBasicDetails.email %>,<%}%>
          <%= SummaryArray.UsersBasicDetails.telephone%><%if(SummaryArray.Application.company_name && SummaryArray.Application.company_name != 'N/A'){%>,<%}%>
          <%if(SummaryArray.Application.company_name && SummaryArray.Application.company_name != 'N/A'){%> <%= SummaryArray.Application.company_name %><%}%>
        </td>
      </tr>

    </table>


    <table class="print-table-secondary" style="table-layout: fixed; border-bottom:3px solid black">
        <tr>
            <td>
                <p class="cover-sheet-section-title">Application reference</p>
                <p class="cover-sheet-content"><%= SummaryArray.Application.unique_app_id%></p>
            </td>
            <td>
                <div class="qrCode">
                    <img src="/qr-code-converter/<%= SummaryArray.Application.unique_app_id%>"  alt="QR code representing your application id:<%= SummaryArray.Application.unique_app_id%>">
                </div>
            </td>
        </tr>
    </table>

    <table class="print-table-secondary" style="table-layout: fixed; border-bottom:3px solid black">
        <tr>
          <td>
             <p class="cover-sheet-section-title">Payment details</p>
          </td>
        </tr>
        <tr>
            <td>
              <p class="cover-sheet-title">Amount</p>
            </td>
            <td>
              <p class="cover-sheet-title">Payment reference</p>
            </td>
        </tr>
        <tr>
            <%if( SummaryArray.Application.serviceType==1){%>
            <td>
              <p class="cover-sheet-content">
                <%= "£" + ((SummaryArray.UserDocumentsCount.price)+(parseFloat(SummaryArray.PostageDetails[0].price)) + parseFloat(SummaryArray.PostageDetails[1].price)).toFixed(2)%>
              </p>
            </td>
            <%}else{%>
            <td>
              <p class="cover-sheet-content">
                <%= "£" + SummaryArray.UserDocumentsCount.price.toFixed(2)%>
              </p>
            </td>
            <%}%>
          <td>
            <p class="cover-sheet-content">
              <%= payment_details.payment_reference %>
              </p>
          </td>
        </tr>
        <tr>
            <td>
              <br />
              <p class="cover-sheet-title">Service</p>
            </td>
            <td>
            </td>
        </tr>
        <tr >
            <td>
              <p class="cover-sheet-content">
                <%if( SummaryArray.Application.serviceType==1){%>
                      Standard
                    <%}else if(SummaryArray.Application.serviceType==2){%>
                        Urgent
                    <%}else{%>
                        Drop off
                    <%}%>
               </p>
            </td>
            <td>
              <p class="cover-sheet-content">Your payment will appear on your bank statement as FCDO Legalisation Service.</p>
            </td>
        </tr>
    </table>


    <table class="print-table-secondary" style="table-layout: fixed; border-bottom:3px solid black">
        <%if( SummaryArray.Application.serviceType==1){%>
        <tr>
                  <td>
                     <p class="cover-sheet-section-title">Application details</p>
                  </td>
                </tr>
        <tr>
            <td>
            <p class="cover-sheet-title">Return address</p>
            </td>
            <td>
                <span class="hide-sm hide-md" style="font-weight: bold;">Return address if application unsuccessful</span>
                <span class="hide-lg" style="font-weight: bold;">Unsuccessful return address</span>
            </td>
        </tr>
        </thead>
        <tr>

            <td class=""><%= SummaryArray.AddressDetails.full_name %>,
                <% if(SummaryArray.AddressDetails.organisation && SummaryArray.AddressDetails.organisation != (''||null||'N/A')){%><%= SummaryArray.AddressDetails.organisation %>,<%}%>

                <% if(SummaryArray.AddressDetails.house_name && SummaryArray.AddressDetails.house_name != (''||null||'N/A')){%><%= SummaryArray.AddressDetails.house_name %>,<%}%>

                <% if(SummaryArray.AddressDetails.street != ''){%> <%= SummaryArray.AddressDetails.street %>,<%}%>
                <%= SummaryArray.AddressDetails.town %>,
                <%if(SummaryArray.AddressDetails.county != ''){%><%= SummaryArray.AddressDetails.county %>,<%}%>
                <%if(SummaryArray.AddressDetails.postcode.length>2) { %><%= SummaryArray.AddressDetails.postcode %>,<% } %>
                <%= SummaryArray.AddressDetails.country %>
              <% if(SummaryArray.AddressDetails.telephone!='') { %>
                  <br />Contact: <%= SummaryArray.AddressDetails.telephone %>
                  <% if(SummaryArray.AddressDetails.email!='' && SummaryArray.AddressDetails.email!==null) { %>,
                      <%= SummaryArray.AddressDetails.email %>
              <%}}%>
            </td>
            <% if(SummaryArray.AddressDetailsAlt==null){ %>
            <td class="details-address">Same as successful address</td>
            <%}else {%>

            <td class=""><%= SummaryArray.AddressDetailsAlt.full_name %>,
                <% if(SummaryArray.AddressDetailsAlt.house_name && SummaryArray.AddressDetailsAlt.house_name != (''||null||'N/A')){%><%= SummaryArray.AddressDetailsAlt.house_name %>,<%}%>
                <% if(SummaryArray.AddressDetailsAlt.street != ''){%> <%= SummaryArray.AddressDetailsAlt.street %>,<%}%>
                <%= SummaryArray.AddressDetailsAlt.town %>,
                <%if(SummaryArray.AddressDetailsAlt.county != ''){%><%= SummaryArray.AddressDetailsAlt.county %>,<%}%>
                <%if(SummaryArray.AddressDetailsAlt.postcode.length>2) { %><%= SummaryArray.AddressDetailsAlt.postcode %>,<% } %>
                <%= SummaryArray.AddressDetailsAlt.country %>
                <% if(SummaryArray.AddressDetailsAlt.telephone!='') { %>
                    <br />Contact: <%= SummaryArray.AddressDetailsAlt.telephone %>
                    <% if(SummaryArray.AddressDetailsAlt.email!='' && SummaryArray.AddressDetailsAlt.email!==null) { %>,
                    <%= SummaryArray.AddressDetailsAlt.email %>
                <%}}%>
            <%}%>
        </tr>
        <tr class="detail-label">
            <td>Send delivery method</td><td>Return delivery method</td>
        </tr>
        <tr >
            <td><%= SummaryArray.PostageDetails[0].title%></td>
            <td><%= SummaryArray.PostageDetails[1].title%></td>
        </tr>

        <tr>
            <td>
              <p class="cover-sheet-title">Your reference</p>
            </td>
            <td>
               <p class="cover-sheet-title">Number of documents</p>
            </td>
        </tr>

        <%} else {%>

        <tr>
            <td>
              <p class="cover-sheet-section-title">Your reference</p>
            </td>
            <td>
               <p class="cover-sheet-section-title">Number of documents</p>
            </td>
        </tr>


        <%}%>


        <tr>
            <td>
            <p class="cover-sheet-content">
            <% if(SummaryArray.AdditionalApplicationInfo.user_ref!=''){%>
                <%= SummaryArray.AdditionalApplicationInfo.user_ref %>
                <%}else{%>None given<%}%>
             </p>
            </td>
            <td>
            <p class="cover-sheet-content"><%= SummaryArray.UserDocumentsCount.doc_count%></p>
            </td>
        </tr>
    </table>



  <table class="print-table-secondary" style="table-layout: fixed; border-bottom:3px solid black">
        <tr>
            <td>
               <p class="cover-sheet-section-title">Legalisation Office address</p>
            </td>
          </tr>
        <tr>
        <td>
                <%if(SummaryArray.Application.serviceType == 1){%>
                <% if (SummaryArray.PostageDetails[0].title === "You'll post your documents from the UK"){%>
                <p class="cover-sheet-content">Please send your documents and cover sheet via <span style="font-weight: bold;">Royal Mail tracked delivery</span> to:<br />
                <span><%= SummaryArray.Application.unique_app_id %>, Legalisation Office, Foreign, Commonwealth and Development Office, PO Box 7656, Milton Keynes, MK11 9NS</span></p>
                <%} else {%>
                <p class="cover-sheet-content">Please send your documents and cover sheet via <span style="font-weight: bold;">courier recorded delivery</span> to: <br />
                <span><%= SummaryArray.Application.unique_app_id %>, Legalisation Office, Foreign, Commonwealth and Development Office, Hanslope Park, Hanslope, Milton Keynes, MK19 7BH</span></p>
                <%}%>
                <%}else if(SummaryArray.Application.serviceType==2){%>
                <p class="cover-sheet-content">You must submit applications in person – do not attempt to post them to our office</p>
                <p class="cover-sheet-content">Bring your documents along with a printout of your cover sheet to: <br />
                    <span>Building 84, Legalisation Office, Foreign, Commonwealth and Development Office, Hanslope Park, Hanslope, MK19 7BH</span></p>
                <%}else if(SummaryArray.Application.serviceType==3){%>
                <p class="cover-sheet-content">You must submit applications in person – do not attempt to post them to our office</p>
                <p class="cover-sheet-content">Bring your documents along with a printout of your cover sheet and collection receipt to: <br />
                <span>Legalisation Office, Building 84, Hanslope Park, Hanslope, Milton Keynes, MK19 7BH</span></p>
                <br>
                <%}%>
        </td>
        </tr>
    </table>

<%if(SummaryArray.Application.serviceType == 2){%>
    <table class="print-table-secondary" style="table-layout: fixed; border-bottom:0px;">
        <tr>
            <td><p class="cover-sheet-content">Please allow plenty of time to arrive and submit your documents. If your application is difficult to process – for example, it includes a signature that needs to be verified – we may be unable to process it on the same day.</p></td>
        </tr>

    </table>
<%}%>

</div>
</div>

<!--Premium cover sheet-->
<% if(SummaryArray.Application.serviceType==2){ %>
<div style="page-break-before: always; text-align: center; font-weight: bold;"></div>

<div id="cover-sheet-div">

<div id="print-header">
    <div>
        <img id="fco-logo-new" title="Foreign &amp; Commonwealth Office" src="/images/fco-logo.png" alt="Foreign &amp; Commonwealth Office">
    </div>
    <div>
        <h1 class="heading-large" style="width: 100%">Application collection receipt</h1>
    </div>
</div>

<div class="printable-summary" style="margin-top:30px;">
    <table id="print-table-main">
        <thead>
        <tr id="bold-details">
            <td>Application reference</td><td>Batch number</td>
        </tr>
        </thead>

        <tr>
            <td><%= SummaryArray.Application.unique_app_id%></td>
            <td></td>
        </tr>

    </table>

    <table class="print-table-secondary" style="table-layout: fixed; border-bottom:3px solid black">
        <tr>
            <td>
                <p class="cover-sheet-section-title">Name</p>
                <p class="cover-sheet-content">
                <%if(SummaryArray.Application.company_name && SummaryArray.Application.company_name != 'N/A'){%>
                  <%= SummaryArray.Application.company_name %>
                <%} else {%>
                  <%= (SummaryArray.UsersBasicDetails.first_name+' '+ SummaryArray.UsersBasicDetails.last_name.toUpperCase().substr(0,30)) %>
                <% } %>
                </p>
            </td>
            <td>
                <div class="qrCode">
                  <%
                      var qrData = ''

                      if (SummaryArray.Application.company_name && SummaryArray.Application.company_name != 'N/A') {
                         qrData += SummaryArray.Application.company_name
                      } else {
                        qrData += (SummaryArray.UsersBasicDetails.first_name+' '+ SummaryArray.UsersBasicDetails.last_name.toUpperCase().substr(0,30))
                      }
                      qrData += ',' + SummaryArray.UserDocumentsCount.doc_count + ',' + SummaryArray.Application.unique_app_id
                      qrText = new Buffer.from(qrData).toString('base64');

                  %>
                    <img src="/cover-sheet-qr-code-converter/<%= qrText%>"  alt="QR code representing <%= qrText%>">
                </div>
            </td>
        </tr>
    </table>

    <table class="print-table-secondary" style="table-layout: fixed; border-bottom:3px solid black">
            <tr>
                <td style="width: 50%">
                    <p class="cover-sheet-section-title">Number of documents</p>
                </td>
                <td style="width: 50%">
                    <p class="cover-sheet-section-title">Drop off date</p>
                </td>
            </tr>
            <tr>
                <td style="width: 50%">
                <p class="cover-sheet-content"><%= SummaryArray.UserDocumentsCount.doc_count%></p>
                </td>
                <td style="width: 50%">
                <br />
                <p class="cover-sheet-section-title">Drop off time</p></td>
            </tr>
        <tr>
            <td colspan="2">
                <br />
                <p class="cover-sheet-section-title">Collection time</p>
                <br />
                <br />
                <br />
            </td>
            <td></td>
        </tr>
       </table>

       <table class="print-table-secondary" style="table-layout: fixed; border-bottom:3px solid black">
          <tr>
            <td colspan="2">
                <br />
                <p style="margin-bottom: 0; text-align: center;">Our office opening hours are Monday to Friday (excluding public holidays):</p>
                <p style="margin-bottom: 0; text-align: center;"><span style="font-weight: bold;">12PM - 12:20PM</span> (drop off only)</p>
                <p style="margin-bottom: 0; text-align: center;"><span style="font-weight: bold;">1.30PM - 2PM</span> (collection only)</p>
                <br />
            </td>
          </tr>
       </table>

       <table class="print-table-secondary" style="table-layout: fixed; border-bottom:0px;">
           <tr>
              <td colspan="2">
                  <p style="margin-bottom: 0; text-align: center;">Please bring this page along with a printout of your cover sheet. Allow plenty of time to arrive and submit your documents.</p>
              </td>
           </tr>
       </table>

<% } %>

<!--Drop off cover sheet    -->
    <% if(SummaryArray.Application.serviceType==3){ %>
        <div style="page-break-before: always; text-align: center; font-weight: bold;"></div>

    <div id="cover-sheet-div">

        <div id="print-header">
            <div>
                <img id="fco-logo-new" title="Foreign &amp; Commonwealth Office" src="/images/fco-logo.png" alt="Foreign &amp; Commonwealth Office">
            </div>
            <div>
                <h1 class="heading-large" style="width: 100%">Application collection receipt</h1>
            </div>
        </div>

        <div class="printable-summary" style="margin-top:30px;">
            <table id="print-table-main">
                <thead>
                <tr id="bold-details">
                    <td>Application reference</td><td>Batch number</td>
                </tr>
                </thead>

                <tr>
                    <td><%= SummaryArray.Application.unique_app_id%></td>
                    <td></td>
                </tr>

            </table>

            <table class="print-table-secondary" style="table-layout: fixed; border-bottom:3px solid black">
                <tr>
                    <td>
                        <p class="cover-sheet-section-title">Name</p>
                        <p class="cover-sheet-content">
                            <%if(SummaryArray.Application.company_name && SummaryArray.Application.company_name != 'N/A'){%>
                                <%= SummaryArray.Application.company_name %>
                            <%} else {%>
                                <%= (SummaryArray.UsersBasicDetails.first_name+' '+ SummaryArray.UsersBasicDetails.last_name.toUpperCase().substr(0,30)) %>
                            <% } %>
                        </p>
                    </td>
                    <td>
                        <div class="qrCode">
                            <%
                                var qrData = ''

                                if (SummaryArray.Application.company_name && SummaryArray.Application.company_name != 'N/A') {
                                    qrData += SummaryArray.Application.company_name
                                } else {
                                    qrData += (SummaryArray.UsersBasicDetails.first_name+' '+ SummaryArray.UsersBasicDetails.last_name.toUpperCase().substr(0,30))
                                }
                                qrData += ',' + SummaryArray.UserDocumentsCount.doc_count + ',' + SummaryArray.Application.unique_app_id
                                qrText = new Buffer.from(qrData).toString('base64');

                            %>
                            <img src="/cover-sheet-qr-code-converter/<%= qrText%>"  alt="QR code representing <%= qrText%>">
                        </div>
                    </td>
                </tr>
            </table>

            <table class="print-table-secondary" style="table-layout: fixed; border-bottom:3px solid black">
                <tr>
                    <td style="width: 50%">
                        <p class="cover-sheet-section-title">Number of documents</p>
                    </td>
                    <td style="width: 50%">
                        <p class="cover-sheet-section-title">Collection date</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50%">
                        <p class="cover-sheet-content"><%= SummaryArray.UserDocumentsCount.doc_count%></p>
                    </td>
                </tr>
            </table>

            <table class="print-table-secondary" style="table-layout: fixed; border-bottom:3px solid black">
                <tr>
                    <td colspan="2">
                        <br />
                        <p style="margin-bottom: 0; text-align: center;">Our counter opening hours are Monday to Friday (excluding public holidays):</p>
                        <p style="margin-bottom: 0; text-align: center;"><span style="font-weight: bold;">12:30PM - 1:30PM</span></p>
                        <br />
                    </td>
                </tr>
            </table>

            <table class="print-table-secondary" style="table-layout: fixed; border-bottom:3px solid black">
                <tr>
                    <td style="width: 50%">
                        <p class="cover-sheet-section-title">Presentation of documents</p>
                    </td>
                </tr>
                <td colspan="2">
                    <p style="margin-bottom: 0; text-align: left;">Please ensure your documents are presented in secure/sealable packaging such as a clear box, wallet or pouch.</p>
                    <br />
                </td>
            </table>

            <table class="print-table-secondary" style="table-layout: fixed; border-bottom:0px;">
                <tr>
                    <td colspan="2">
                        <p style="margin-bottom: 0; text-align: center;">Please bring this page along with a printout of your cover sheet. Allow plenty of time to arrive and submit your documents.</p>
                    </td>
                </tr>
            </table>

            <% } %>
</div>
</div>



<div class="form-group noPrint" style="margin-top: 40px">
    <a href="javascript:window.print()"   role="button" draggable="false" class="govuk-button" data-module="govuk-button">Print</a>
</div>
