<% pageTitle = "Print cover sheet" ;

var date = new Date(SummaryArray.Application.application_start_date);
var weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
var month = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
];

var fullDateString = weekday[date.getDay()] + ' ' + month[date.getMonth()] + ' ' + date.getDate() + ' ' + date.getFullYear();
%>

<% if (user_data.loggedIn) { %>
<div class="noPrint inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%> "  style="margin-bottom: 20px">
    <% if(dashboard){%>
    <a href="/dashboard" class="back-to-previous">Back</a>
    <%}%>
    <%- partial ('../partials/inner-header.ejs')%>
</div>
<% } %>

<div id="print-header">
    <img id="fco-logo" title="Foreign &amp; Commonwealth Office" src="/images/fco-logo.png" alt="Foreign &amp; Commonwealth Office">
    <h1 class="heading-large">Application cover sheet</h1>
</div>

<div class="printable-summary">
    <table id="print-table-main" style="table-layout: fixed;">
        <thead>
        <tr>
            <td>Name</td><td>Application date</td>
        </tr>
        </thead>

        <tr id="bold-details">
            <td><%= (SummaryArray.UsersBasicDetails.first_name+' '+ SummaryArray.UsersBasicDetails.last_name).substr(0,30) %></td>
            <td><%= fullDateString%></td>
        </tr>
        <%if(SummaryArray.Application.company_name && SummaryArray.Application.company_name != 'N/A'){%>
        <tr class="cover-sheet-telephone">
            <td><%= SummaryArray.Application.company_name %></td>
            <td></td>
        </tr>
        <%}%>
        <tr class="cover-sheet-email">
            <td><%if(SummaryArray.UsersBasicDetails.email!=null){%><%= SummaryArray.UsersBasicDetails.email %><%}%></td>
            <td></td>
        </tr>
        <tr class="cover-sheet-telephone">
            <td><%= SummaryArray.UsersBasicDetails.telephone %></td>
            <td></td>
        </tr>

    </table>


    <table class="print-table-secondary" style="table-layout: fixed; border-bottom:3px solid black">
        <tr>
            <td>
                <p style="margin-bottom: 0">Application reference:</p>
                <p style="font-weight: bold; font-size: 1.5em; margin-bottom: 0"><%= SummaryArray.Application.unique_app_id%></p>
            </td>
            <td>
                <div id="qr-code-div" style="margin-left: -10px;">
                    <img height="70" width="70" id="qr-code" src="/qr-code-converter/<%= SummaryArray.Application.unique_app_id%>"  alt="QR code representing your application id:<%= SummaryArray.Application.unique_app_id%>">
                </div>
            </td>
        </tr>
    </table>
    <!--  <p class="table-caption">  </p>-->

    <h2 class="heading-medium" style="margin-bottom: 0px">Payment details</h2>
    <table class="print-table-secondary" style="table-layout: fixed;">
        <thead class="detail-label">
        <tr>
            <td>Amount</td>
        </tr>
        </thead>
        <tr>
            <%if( SummaryArray.Application.serviceType==1){%>
            <td><%= "£" + ((SummaryArray.UserDocumentsCount.doc_count*30)+(parseFloat(SummaryArray.PostageDetails[0].price)) + parseFloat(SummaryArray.PostageDetails[1].price)).toFixed(2)%></td>
            <%}else{%>
            <td><%= "£" + SummaryArray.UserDocumentsCount.price.toFixed(2)%></td>
            <%}%>
        </tr>
        <tr class="detail-label">
            <td>Service</td><td>Payment reference</td>
        </tr>
        <tr >
            <td><%if( SummaryArray.Application.serviceType==1){%>Standard<%}else if(SummaryArray.Application.serviceType==2){%>Premium<%}else{%>Drop off<%}%></td>
            <td><%= payment_details.payment_reference %></td>
        </tr>
    </table>
    <p class="table-caption">Your payment will appear on your bank statement as FCO Legalisation Service.</p>

    <%if( SummaryArray.Application.serviceType==1){%>
    <h2 class="heading-medium" style="margin-bottom: 0px">Application details</h2>
    <%}%>
    <table class="print-table-secondary" style="table-layout: fixed;">
        <%if( SummaryArray.Application.serviceType==1){%>
        <thead class="detail-label">
        <tr>
            <td>Return address</td>
            <td>
                <span class="hide-sm hide-md">Return address if application unsuccessful</span>
                <span class="hide-lg">Unsuccessful return address</span>
            </td>
        </tr>
        </thead>
        <tr>

            <td class=""><%= SummaryArray.AddressDetails.full_name %>,
                <% if(SummaryArray.AddressDetails.organisation && SummaryArray.AddressDetails.organisation != (''||null||'N/A')){%><%= SummaryArray.AddressDetails.organisation %>,<%}%>
                <%= SummaryArray.AddressDetails.house_name %>,
                <% if(SummaryArray.AddressDetails.street != ''){%> <%= SummaryArray.AddressDetails.street %>,<%}%>
                <%= SummaryArray.AddressDetails.town %>,
                <%if(SummaryArray.AddressDetails.county != ''){%><%= SummaryArray.AddressDetails.county %>,<%}%>
                <%if(SummaryArray.AddressDetails.postcode.length>2) { %><%= SummaryArray.AddressDetails.postcode %>,<% } %>
                <%= SummaryArray.AddressDetails.country %>
            </td>
            <% if(SummaryArray.AddressDetailsAlt==null){ %>
            <td class="details-address">Same as successful address</td>
            <%}else {%>

            <td class=""><%= SummaryArray.AddressDetailsAlt.full_name %>,
                <% if(SummaryArray.AddressDetailsAlt.organisation && SummaryArray.AddressDetailsAlt.organisation != (''||null||'N/A')){%><%= SummaryArray.AddressDetailsAlt.organisation %>,<%}%>
                <%= SummaryArray.AddressDetailsAlt.house_name %>,
                <% if(SummaryArray.AddressDetailsAlt.street != ''){%> <%= SummaryArray.AddressDetailsAlt.street %>,<%}%>
                <%= SummaryArray.AddressDetailsAlt.town %>,
                <%if(SummaryArray.AddressDetailsAlt.county != ''){%><%= SummaryArray.AddressDetailsAlt.county %>,<%}%>
                <%if(SummaryArray.AddressDetailsAlt.postcode.length>2) { %><%= SummaryArray.AddressDetailsAlt.postcode %>,<% } %>
                <%= SummaryArray.AddressDetailsAlt.country %>
            <%}%>
        </tr>
        <tr class="detail-label">
            <td>Send delivery method</td><td>Return delivery method</td>
        </tr>
        <tr >
            <td><%= SummaryArray.PostageDetails[0].title%></td>
            <td><%= SummaryArray.PostageDetails[1].title%></td>
        </tr>
        <%}%>

        <tr class="detail-label">
            <td>Your reference</td>
            <td>Number of documents</td>
        </tr>
        <tr >
            <td><% if(SummaryArray.AdditionalApplicationInfo.user_ref!=''){%>
                <%= SummaryArray.AdditionalApplicationInfo.user_ref %>
                <%}else{%>None given<%}%></td><td><%= SummaryArray.UserDocumentsCount.doc_count%></td>
        </tr>
    </table>

    <p class="table-caption"> </p>
    <h2 class="heading-medium" style="margin-bottom: 0px">Legalisation Office address</h2>

    <table class="print-table-secondary" style="table-layout: fixed;">
        <tr><td>
                <%if(SummaryArray.Application.serviceType == 1){%>
                <% if (SummaryArray.PostageDetails[0].title === 'I will post my documents from the UK'){%>
                <p>Please send your documents and cover sheet via <span style="font-weight: bold;">Royal Mail recorded delivery</span> to:</p>

                <p style="margin-bottom: -10px;"><span>Legalisation Office, Foreign and Commonwealth Office, PO Box 6255, Milton Keynes, MK10 1XX</span></p>
                <%} else {%>
                <p>Please send your documents and cover sheet via <span style="font-weight: bold;">courier recorded delivery</span> to:</p>

                <p style="margin-bottom: -10px;"><span>Legalisation Office, Foreign and Commonwealth Office, Hanslope Park, Hanslope, Milton Keynes, MK19 7BH</span></p>
                <%}%>
                <%}else if(SummaryArray.Application.serviceType==2){%>
                <p>Bring your documents along with a printout of your cover sheet to:</p>
                <p><span>Legalisation Office Premium Service, Foreign and Commonwealth Office, Sanctuary Buildings, 20 Great Smith Street, London, SW1P 3BT</span></p>
                <%}else if(SummaryArray.Application.serviceType==3){%>
                <p>Bring your documents along with a printout of your cover sheet to:</p>
                <p><span>Legalisation Office, Legalisation Office drop-off service, 450-500 Silbury Boulevard, Milton Keynes,  MK9 2AD</span></p>
                <%}%>    </td></tr>
    </table>

    <p class="table-caption" style="margin-bottom: 0px;"> </p>


</div>

<div class="form-group noPrint" style="margin-top: 40px">
    <a href="javascript:window.print()"   role="button" class="button">Print</a>
</div>
