<% pageTitle = "Returning us your documents - Get a document legalised – GOV.UK" %>

<%if (error_report && error_report.length>0) {
pageTitle = "Error: Returning us your documents - Get a document legalised – GOV.UK"

}%>

<div class="inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%>" >
    <%
    if(typeof(countryHasChanged)=='undefined'){countryHasChanged=false}
    if(!countryHasChanged){
        var url = !summary ? '/postage-send-options': '/review-summary' ;%>
    <a href="<%= url%>" class="back-to-previous govuk-link">Back</a>
    <%}%>
    <%//User email and logout link
    if (user_data.loggedIn) { %>
    <%- partial ('../partials/inner-header.ejs')%>
    <% } %>
</div>


<h1 class="heading-xlarge">Returning your documents</h1>
<% if(countryHasChanged){%>
<div class="column-two-thirds">
    <p class="panel panel-border-narrow panel-indent-info" id="country-has-changed" style="margin-top: 0">
        Because you have changed your return address for the documents you are legalising, the return postage options available have also changed.
    </p>
</div>
<%}%>


<%if (error_report) {%>
<div class="govuk-error-summary" role="alert" tabindex="-1" autofocus>
    <h2 class="govuk-error-summary__title" id="error-summary-heading">
        There is a problem
    </h2>
    <ul class="govuk-list govuk-error-summary__list">
        <li><a href="#<%= return_postages[1].type + "_" + 1 %>">Choose a postage option</a></li>
    </ul>
</div>
<%}%>


<form action="/submit-postage-return-options" id="return_address" method="post" class="full-width">

    <div class="<% if (error_report) { %>error<% } %>" id="legend_postage_available">
        <%if(return_postages.length==1){%>
      <div class="column-two-thirds">
        <input id="<%= return_postages[0].type %>"  name="return_postage" type="hidden"  value="<%= return_postages[0].id %>">
        <p class="text">We'll return your legalised documents and any supporting documentation by <%= return_postages[0].pretty_title %>.
            The courier cost is <span style="font-weight:bold;">£<%= parseFloat(return_postages[0].price).toFixed(2)%></span>.</a>
        </p>
      <p>
        <%= helptext.courier.line1 %>
      </p>
      </div>
        <%}else{%>
            <fieldset>
                <legend class="form-label-bold">
                    Select a delivery method for the return of your documents
                </legend>

                <% if (error_report) { %><span class="error-message">Choose a postage option</span>
                <% } %>

                <div class="column-two-thirds">
                    <div class="govuk-radios__item">

                        <input class="govuk-radios__input" data-target="option1Help"
                               id="<%= return_postages[1].type + "_" + 1 %>"
                               type="radio" <% if (form_values && return_postages[1].id == form_values) { %>checked
                                <% } %>
                               name="return_postage" value="<%= return_postages[1].id %>">
                        <label class="govuk-radios__label" data-target="option1Help"
                               for="<%= return_postages[1].type + "_" + 1 %>">
                            <%= return_postages[1].title %>
                            <% if(return_postages[1].price == 0){ %>
                            <% }else{ %> - £<%= parseFloat(return_postages[1].price).toFixed(2) %>
                            <% } %>
                        </label>
                    </div>

                    <div class="panel panel-border-narrow js-hidden"
                         <% if (form_values && return_postages[1].id == form_values){ %>aria-hidden="false"
                         style="display: block;"
                            <% } %>
                         id="option1Help">
                        <%= helptext.courier.line1 %>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" data-target="option2Help"
                               id="<%= return_postages[0].type + "_" + 0 %>"
                               type="radio" <% if (form_values && return_postages[0].id == form_values) { %>checked
                                <% } %>
                               name="return_postage" value="<%= return_postages[0].id %>">
                        <label class="govuk-radios__label" style="margin-bottom: 10px;" data-target="option2Help"
                               for="<%= return_postages[0].type + "_" + 0 %>">
                            <%= return_postages[0].title %>
                            <% if(return_postages[0].price == 0){ %>
                            <% }else{ %> - £<%= parseFloat(return_postages[0].price).toFixed(2) %>
                            <% } %>
                        </label>
                    </div>
                </div>

                <div class="panel panel-border-narrow js-hidden"
                     <% if (form_values && return_postages[0].id == form_values){ %>aria-hidden="false"
                     style="display: block;"
                        <% } %>
                     id="option2Help">
                    <div class="no-js-show column-one-half" style="padding:0 0px;">
                        <%= helptext.sae.line1 %> <br/>
                        <%= helptext.sae.line2 %>
                        <ul style="padding-bottom: 0px;">
                            <li><%= helptext.sae.line3 %></li>
                            <li><%= helptext.sae.line4 %><a href="<%= helptext.sae.linkURL %>" target="_blank"
                                                            id="return-options-royal-mail-link"><%= helptext.sae.linkText %></a>
                            </li>
                            <li><%= helptext.sae.line5 %></li>
                        </ul>
                        <%= helptext.sae.line6 %> <br/>
                        <%= helptext.sae.line7 %>
                    </div>
                    <div class="no-js-show column-one-half">
                        <img style="max-width: 100%" src="images/SAE-7.png"
                             alt="Illustration of self-addressed envelope"/>
                    </div>
                </div>

                <%
                } %>
            </fieldset>
    </div>

  <br />

    <div class="form-group column-two-thirds">
        <input type="submit"  id='NextBtn' role="button" draggable="false" class="govuk-button" data-module="govuk-button" value="<% if (!summary) { %>Continue<% } else { %>Save and return to summary<% } %>" />
    </div>

</form>

