<% pageTitle = "Sending us your documents" %>
<%if(error_report){
pageTitle = "Error: Sending us your documents"
}%>
<div class="inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%>" >
    <% var url = !summary ? '/modify-how-many-documents': '/review-summary' ;%>
    <a href="<%= url%>" class="back-to-previous govuk-link">Back</a>

    <%
    //User email and logout link
    if (user_data.loggedIn) { %>
    <%- partial ('../partials/inner-header.ejs')%>
    <% } %>
</div>

<%if (error_report) {%>
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" autofocus>
        <h2 class="govuk-error-summary__title" id="error-summary-heading">
            There is a problem
        </h2>
        <ul class="govuk-list govuk-error-summary__list">
            <li><a href="#<%= send_postages[0].type + "_" + 0 %>">Confirm how you'll send us your documents</a></li>
        </ul>
    </div>
<%}%>

<h1 class="heading-xlarge">Sending us your documents</h1>

<form id="send-options-form" action="/submit-postage-send-options" method="post" class="column-two-thirds">

    <div class="form-group <% if (error_report) { %>error<% } %>" id="legend_postage_available">

            <label class="form-label-bold">
                Select how you’ll send your documents
            </label>
            <% if (error_report) { %><span class="error-message">Confirm how you'll send us your documents</span>
            <% } %>
            <div class="govuk-form-group">

                <% for(var i = 0;i < send_postages.length;i++) { %>
                    <div class="govuk-radios__item">

                        <input class="govuk-radios__input" id="<%= send_postages[i].type + "_" + i %>"
                               <% if (submit_status === true) { %>disabled="disabled" <% } %>aria-required="true"
                               type="radio" <% if (form_values && send_postages[i].id == form_values) { %>checked
                                <% } %>
                               name="send_postage" value="<%= send_postages[i].id %>">
                        <label class="govuk-radios__label" for="<%= send_postages[i].type + "_" + i %>">
                            <%= send_postages[i].title %>
                        </label>
                    </div>
                <% } %>
            </div>
    </div>


    <div class="form-group">
        <input type="submit" id='NextBtn' role="button" draggable="false" class="govuk-button"
               data-module="govuk-button"
               value="<% if(!summary){ %>Continue<% }else{ %>Save and return to summary<% } %>"/>
    </div>

</form>
