<% pageTitle = "Sending us your documents - Get a document legalised – GOV.UK" %>

<div class="inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%>" >
    <% var url = !summary ? '/modify-how-many-documents': '/review-summary' ;%>
    <a href="<%= url%>" class="back-to-previous">Back</a>

    <%
    //User email and logout link
    if (user_data.loggedIn) { %>
    <%- partial ('../partials/inner-header.ejs')%>
    <% } %>
</div>

<h1 class="heading-xlarge">Sending us your documents</h1>

    <%if (error_report) {%>
    <div class="error-summary" role="group"    tabindex="-1">
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
            Please check the form
        </h2>
        <ul class="error-summary-list nopadding">
            <li><a>Confirm how you'll send us your documents</a></li>
        </ul>
    </div>
    <%}%>

<form id="send-options-form" action="/submit-postage-send-options" method="post"  class="column-two-thirds">

    <div class="form-group <% if (error_report) { %>error<% } %>" id="legend_postage_available" >

        <fieldset>
            <legend class="form-label-bold">
                Select how you’ll send your documents
            </legend>
            <%if (error_report) {%><span class="error-message">Confirm how you'll send us your documents</span><%}%>

            <% for(var i=0;i<send_postages.length;i++) {%>

            <label class="block-label" for="<%= send_postages[i].type + "_" + i %>">
                <input id="<%= send_postages[i].type + "_" + i %>" <% if (submit_status===true) { %>disabled="disabled"<% } %>
                       aria-required="true"
                       type="radio" <% if (form_values && send_postages[i].id == form_values) { %>checked<% } %>
                       name="send_postage" value="<%= send_postages[i].id %>">
                <%= send_postages[i].title %>
            </label>

            <%}%>
        </fieldset>
    </div>


    <div class="form-group">
        <input type="submit"  id='NextBtn' class="button" value="<% if(!summary){%>Continue<%}else{%>Save and return to summary<% } %>" />
    </div>

</form>
