<% pageTitle = "Application summary - Get a document legalised – GOV.UK" %>

<div class="inner_header <% if (!user_data.loggedIn){ %>no-user-signed-in<% } %>">
    <%- partial('../partials/inner-header.ejs') %>
</div>

 <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="heading-large" style="margin-top: 0.25em; width: 70%;">Check your answers before paying for your
        application </h1>
    <h2 class="heading-medium">Personal details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Name
            </dt>
            <dd class="govuk-summary-list__value">
                <%= (SummaryArray.UsersBasicDetails.first_name + ' ' + SummaryArray.UsersBasicDetails.last_name).substr(0, 30) %>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/update-your-basic-details">Change<span
                            class="visually-hidden"> your name</span></a>
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Email
            </dt>
            <dd class="govuk-summary-list__value">
                <% if(SummaryArray.UsersBasicDetails.email != null){ %>
                    <%= SummaryArray.UsersBasicDetails.email %>
                <% }else{ %>
                    None provided
                <% } %>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/update-your-basic-details">Change<span
                            class="visually-hidden"> your email</span></a>
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Telephone
            </dt>
            <dd class="govuk-summary-list__value">
                <%= SummaryArray.UsersBasicDetails.telephone %>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/update-your-basic-details">Change<span
                            class="visually-hidden"> your telephone number</span></a>
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Mobile No
            </dt>
            <dd class="govuk-summary-list__value">
                <% if(SummaryArray.UsersBasicDetails.mobileNo != null){ %>
                    <%= SummaryArray.UsersBasicDetails.mobileNo %>
                <% }else{ %>
                    None provided
                <% } %>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/update-your-basic-details">Change<span
                            class="visually-hidden"> your mobile number</span></a>
            </dd>
        </div>
    </dl>


    <h2 class="heading-medium">Return addresses</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Return address for successfully legalised documents
            </dt>
            <dd class="govuk-summary-list__value">
                <%= (SummaryArray.AddressDetails.full_name).substr(0, 30) %>, <br>
                <% if(SummaryArray.AddressDetails.organisation) { %>
                    <%= SummaryArray.AddressDetails.organisation %>,<br>
                <% } %>
                <% if(SummaryArray.AddressDetails.house_name != ('' || 'N/A')) { %>
                    <%= SummaryArray.AddressDetails.house_name %>,<br>
                <% } %>
                <% if(SummaryArray.AddressDetails.street != ''){ %>
                    <%= SummaryArray.AddressDetails.street %>,<br>
                <% } %>
                <% if(SummaryArray.AddressDetails.town != '') { %>
                    <%= SummaryArray.AddressDetails.town %>,<br>
                <% } %>
                <% if(SummaryArray.AddressDetails.county != ''){ %>
                    <%= SummaryArray.AddressDetails.county %>,<br>
                <% } %>
                <% if(SummaryArray.AddressDetails.postcode.length > 1) { %>
                    <%= SummaryArray.AddressDetails.postcode %>,<br>
                <% } %>
                <% if(SummaryArray.AddressDetails.country != '') { %>
                    <%= SummaryArray.AddressDetails.country %>
                <% } %>
                <% if(SummaryArray.AddressDetails.telephone != '') { %>

                    <br/><br/>Contact:<br/><%= SummaryArray.AddressDetails.telephone %>
                <% } %>
                <% if(SummaryArray.AddressDetails.mobileNo != '' && SummaryArray.AddressDetails.mobileNo !== null) { %>,
                <br/>

                <%= SummaryArray.AddressDetails.mobileNo %>
                <% } %>
                <% if(SummaryArray.AddressDetails.email != '' && SummaryArray.AddressDetails.email !== null) { %>,<br/>

                <%= SummaryArray.AddressDetails.email %>

                <% } %>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/change-your-address-details?address_type=main">Change<span
                            class="visually-hidden"> your successful legalisation return address</span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Return address if we can't legalise your documents
            </dt>
            <dd class="govuk-summary-list__value">
                <% if(SummaryArray.AddressDetailsAlt == null){ %>
                Same as above
                    <% } else {%>
                    <%= SummaryArray.AddressDetailsAlt.full_name.substr(0, 30) %>, <br>
                    <% if(SummaryArray.AddressDetailsAlt.organisation){ %>
                        <%= SummaryArray.AddressDetailsAlt.organisation %>,<br>
                    <% } %>
                    <% if(SummaryArray.AddressDetailsAlt.house_name != ('' || 'N/A')){ %>
                        <%= SummaryArray.AddressDetailsAlt.house_name %>,<br>
                    <% } %>
                    <% if(SummaryArray.AddressDetailsAlt.street != ''){ %>
                        <%= SummaryArray.AddressDetailsAlt.street %>,<br>
                    <% } %>
                    <% if(SummaryArray.AddressDetailsAlt.town != ''){ %>
                        <%= SummaryArray.AddressDetailsAlt.town %>,<br>
                    <% } %>
                    <% if(SummaryArray.AddressDetailsAlt.county != ''){ %>
                        <%= SummaryArray.AddressDetailsAlt.county %>,<br>
                    <% } %>
                    <% if(SummaryArray.AddressDetailsAlt.postcode.length > 1) { %>
                        <%= SummaryArray.AddressDetailsAlt.postcode %>,<br>
                    <% } %>

                    <% if(SummaryArray.AddressDetailsAlt.country != ''){ %>
                        <%= SummaryArray.AddressDetailsAlt.country %>
                    <% } %>

                    <% if(SummaryArray.AddressDetailsAlt.telephone != '') { %>
                    <br/><br/>Contact:<br/><%=SummaryArray.AddressDetailsAlt.telephone%>,<br/>
                    <% } %>

                    <% if(SummaryArray.AddressDetailsAlt.mobileNo != '' && SummaryArray.AddressDetailsAlt.mobileNo !== null) { %>
                    <%=SummaryArray.AddressDetailsAlt.mobileNo%>,<br/>
                    <%}%>

                    <% if(SummaryArray.AddressDetailsAlt.email != '' && SummaryArray.AddressDetailsAlt.email !== null) { %>
                        <%= SummaryArray.AddressDetailsAlt.email %>

                    <% } %>

                    <% } %>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/change-your-address-details?address_type=alternative">Change<span
                            class="visually-hidden"> your unsuccessful legalisation return address</span></a>
            </dd>
        </div>
    </dl>

        <h2 class="heading-medium">Document details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Total number of documents
            </dt>
            <dd class="govuk-summary-list__value">
                <%= SummaryArray.UserDocumentsCount.doc_count %>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/update-how-many-documents">Change<span
                            class="visually-hidden"> the number of documents you want to legalise</span></a>
            </dd>
        </div>
    </dl>

        <h2 class="heading-medium">Postage</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Send delivery method
            </dt>
            <dd class="govuk-summary-list__value">
                <%= SummaryArray.PostageDetails[0].title %>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/modify-postage-send-options">Change<span
                            class="visually-hidden"> the number of documents you want to legalise</span></a>
            </dd>
        </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Return delivery method
        </dt>
        <dd class="govuk-summary-list__value">
            <%= SummaryArray.PostageDetails[1].title %>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/modify-postage-send-options">Change<span
                        class="visually-hidden"> your return postage method</span></a>
        </dd>
    </div>
    </dl>

        <h2 class="heading-medium">Additional information</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <% if(SummaryArray.AdditionalApplicationInfo.user_ref.length != 0){ %>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Your reference
            </dt>
            <dd class="govuk-summary-list__value">
                <%= SummaryArray.AdditionalApplicationInfo.user_ref %>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/update-additional-information">Change<span
                            class="visually-hidden"> your application reference number</span></a>
            </dd>
        </div>
        <%}%>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Feedback consent
                </dt>
                <dd class="govuk-summary-list__value">
                    <% if(SummaryArray.Application.feedback_consent){ %>
                        Yes
                    <% }else{ %>
                        No
                    <% } %>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/update-additional-information">Change<span
                                class="visually-hidden"> your feedback consent answer</span></a>
                </dd>
            </div>
    </dl>


        <h2 class="heading-medium">Cost</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Cost to legalise <%= SummaryArray.UserDocumentsCount.doc_count %>
                document<%= SummaryArray.UserDocumentsCount.doc_count > 1 ? 's' : '' %>
            </dt>
            <dd class="govuk-summary-list__value">
                £<%= parseFloat(SummaryArray.UserDocumentsCount.doc_count * 30).toFixed(2) %>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Cost of postage
            </dt>
            <dd class="govuk-summary-list__value">
                <%= "£" + ((parseFloat(SummaryArray.PostageDetails[0].price)) + parseFloat(SummaryArray.PostageDetails[1].price)).toFixed(2) %>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Total cost
            </dt>
            <dd class="govuk-summary-list__value">
                <strong><%= "£" + ((SummaryArray.UserDocumentsCount.doc_count * 30) + (parseFloat(SummaryArray.PostageDetails[0].price)) + parseFloat(SummaryArray.PostageDetails[1].price)).toFixed(2) %></strong>
            </dd>
        </div>
    </dl>
</div>
 </div>

<a href="/declaration" role="button" draggable="false" class="govuk-button"
   data-module="govuk-button">Continue</a>

