<div class="inner_header <% if (!user_data.loggedIn){ %>no-user-signed-in<% } %>">
    <%
    var link = '/check-documents-important-information';

    if(user_data.loggedIn){
        link = '/your-basic-details?use_saved_details=true'
    }
    else if(summary){
        link = '/review-summary'
    }
    else if(selected_docs.totalQuantity > 0 && last_doc_checker_page){
        link = last_doc_checker_page
    }
    %>

    <a href="<%= link%>" class="back-to-previous govuk-link">Back</a>
    <%- partial ('../partials/inner-header.ejs')%>
</div>
<% pageTitle = "Your details" %>

<%if(error_report && error_report.length>0)
{
    pageTitle = "Error: Your details"
}%>
<div class="govuk-error-summary <% if (error_report) { %>show<% } else { %>hide<% } %>" role="alert" tabindex="-1" autofocus>

    <h2 class="govuk-error-summary__title" id="error-summary-heading-example-2">
        There is a problem
    </h2>

    <div class="govuk-error-summary__body" id="all-errors">
        <ul class="govuk-list govuk-error-summary__list">
            <% if (error_report) {  %>
                <% error_report[0][0].errMsgs.forEach( function(errorMsgs) { %>
                    <li><a href="#<%= errorMsgs.questionId %>"><%= errorMsgs.fieldSolution %></a></li>
                <% }) %>
            <% } %>
        </ul>
    </div>
</div>

<h1 class="heading-xlarge">Your details</h1>

<form action="<% if (!update) { %>/your-basic-details/confirm<% } else {%>/modify-your-basic-details/success<% } %>"
      id="yourDetailsForm"
      method="post"
      class="column-two-thirds">


    <div class="form-group <% if (error_report && error_report[1][0].erroneousFields.indexOf('first_name')>-1) { %>error<% } %>" id="legend_first_name">
            <label class="form-label-bold" for="first_name">
                First name
            </label>

            <span class="error-message">
            <% if (error_report) { %>
                <% error_report[0][0].errMsgs.forEach( function(error) { %>
                        <% if (error.questionId=="first_name") { %>
                            <span class="govuk-visually-hidden">Error:</span>
                            <%= error.fieldSolution%>
                        <% } %>
                    <% }) %>
                <% } %>
            </span>
            <input class="govuk-input govuk-!-width-one-half" id="first_name" type="text"  autocomplete="on" name="first_name" aria-required="true" <% if (submit_status===true) { %>disabled="disabled"<% } %> value="<% if(form_values){%><%=form_values.first_name%><%} %>">
    </div>


    <div class="form-group <% if (error_report && error_report[1][0].erroneousFields.indexOf('last_name')>-1) { %>error<% } %>" id="legend_last_name">
        <label class="form-label-bold" for="last_name">
           Last name
        </label>

        <span class="error-message">

        <% if (error_report) { %>
            <% error_report[0][0].errMsgs.forEach( function(error) { %>
            <% if (error.questionId=="last_name") { %>
                        <span class="govuk-visually-hidden">Error:</span>
                        <%= error.fieldSolution%>
            <% } %>
            <% }) %>
            <% } %>
        </span>

            <input class="govuk-input govuk-!-width-one-half" id="last_name" autocomplete="on" type="text"  name="last_name" aria-required="true" <% if (submit_status===true) { %>disabled="disabled"<% } %> value="<% if(form_values){%><%=form_values.last_name%><%} %>">
    </div>

    <div class="form-group <% if (error_report && error_report[1][0].erroneousFields.indexOf('mobileNo')>-1) { %>error<% } %>" id="legend_mobileNo" >
        <label class="form-label-bold" for="mobileNo">
            Mobile number
        </label>
        <span class="error-message">
            <% if (error_report) { %>
                <% error_report[0][0].errMsgs.forEach( function(error) { %>
                    <% if (error.questionId=="mobileNo") { %>
                        <span class="govuk-visually-hidden">Error:</span>
                        <%= error.fieldSolution%>
                    <% } %>
                <% }) %>
            <% } %>
        </span>

        <input type="tel" id="mobileNo" class="govuk-input govuk-!-width-one-half"  autocomplete="on" name="mobileNo"  <% if (submit_status===true) { %>disabled="disabled"<% } %> value="<% if(form_values && form_values.mobileNo!=null){%><%=form_values.mobileNo.replace(/\s/g, "")%><%} %>">
    </div>

    <div class="form-group <% if (error_report && error_report[1][0].erroneousFields.indexOf('telephone')>-1) { %>error<% } %>" id="legend_telephone" >
        <label class="form-label-bold" for="telephone">
            Secondary phone number (optional)
        </label>
                <span class="error-message">
                    <% if (error_report) { %>
                    <% error_report[0][0].errMsgs.forEach( function(error) { %>
                    <% if (error.questionId=="telephone") { %>
                                <span class="govuk-visually-hidden">Error:</span>
                                <%= error.fieldSolution%>
                    <% } %>
                    <% }) %>
                    <% } %>
                </span>
        <input type="tel" id="telephone" class="govuk-input govuk-!-width-one-half"  autocomplete="on" name="telephone" aria-required="true" <% if (submit_status===true) { %>disabled="disabled"<% } %> value="<% if(form_values){%><%=form_values.telephone%><%} %>">
    </div>

    <!--    default has_email to true-->
    <input id="has_email" name="has_email" type="hidden" value="yes">

    <div class="form-group <% if (error_report && error_report[1][0].erroneousFields.indexOf('email')>-1) { %>error<% } %>" id="legend_email">

        <label class="form-label-bold" for="email">
            Email address
        </label>

        <span class="form-hint">We'll send confirmation of your application here</span>
        <span class="error-message">
            <% if (error_report) {
                var email_error = false;%>
            <% error_report[0][0].errMsgs.forEach( function(error) { %>
                <% if (error.questionId=="email") {
                    email_error=true%>
                <span class="govuk-visually-hidden">Error:</span>
                <%= error.fieldSolution%><br/>
                <% } %>
            <% }) %>
            <% } %>
        </span>
        <input class="govuk-input govuk-!-width-one-half" id="email" autocomplete="on" type="text" <% if (submit_status===true) { %>disabled="disabled"<% } %>  name="email" value="<% if(form_values && form_values.email!=null){%><%=form_values.email%><%} %>">
    </div>


    <div class="form-group <% if (error_report && error_report[1][0].erroneousFields.indexOf('confirm_email')>-1) { %>error<% } %>" id="legend_confirm_email">
        <label class="form-label-bold" for="confirm_email">
            Confirm email address
        </label>

        <span class="error-message">
            <% if (error_report) { %>
                <% error_report[0][0].errMsgs.forEach( function(error) { %>
                    <% if (error.questionId=="confirm_email") { %>
                        <span class="govuk-visually-hidden">Error:</span>
                        <%= error.fieldSolution%>
                    <% } %>
                <% }) %>
            <% } %>
        </span>
        <input class="govuk-input govuk-!-width-one-half" id="confirm_email" autocomplete="off" type="text" <% if (submit_status===true) { %>disabled="disabled"<% } %>
               name="confirm_email" value="<% if(form_values && form_values.confirm_email!=null){%><%=form_values.confirm_email%><%} %>">
    </div>

    <div class="form-group">
        <input type="submit"  id='NextBtn' role="button" draggable="false" class="govuk-button" data-module="govuk-button" style="margin-top: 20px;" value="<% if(!summary){%>Continue<%}else{%>Save and return to summary<% } %>" />
    </div>
</form>
