<div class="inner_header <% if (!user_data.loggedIn){ %>no-user-signed-in<% } %>">
    <%
    var link = '/choose-documents-or-skip';

    if(user_data.loggedIn){
        link = '/your-basic-details?use_saved_details=true'
    }
    else if(summary){
        link = '/review-summary'
    }
    else if(selected_docs.totalQuantity>0 &&last_doc_checker_page){
        link = last_doc_checker_page
    }%>

    <a href="<%= link%>" class="back-to-previous">Back</a>
    <%- partial ('../partials/inner-header.ejs')%>
</div>
<% pageTitle = "Your details - Get a document legalised – GOV.UK" %>
<div class="govuk-error-summary <% if (error_report) { %>show<% } else { %>hide<% } %>" role="group" tabindex="-1" autofocus>

    <h2 class="govuk-error-summary__title" id="error-summary-heading-example-2">
        There is a problem
    </h2>

    <div class="govuk-error-summary__body" id="all-errors">
        <ul class="govuk-list govuk-error-summary__list">
            <% if (error_report) {  %>
                <% error_report[0][0].errMsgs.forEach( function(errorMsgs) { %>
                    <li><a href="#legend_<%= errorMsgs.questionId %>"><%= errorMsgs.fieldSolution %></a></li>
                <% }) %>
            <% } %>
        </ul>
    </div>
</div>

<h1 class="heading-xlarge">Your details</h1>

<form action="<% if (!update) { %>/your-basic-details/confirm<% } else {%>/modify-your-basic-details/success<% } %>"
      id="yourDetailsForm"
      method="post"
      class="column-two-thirds">
    <fieldset>

    <div class="form-group <% if (error_report && error_report[1][0].erroneousFields.indexOf('first_name')>-1) { %>error<% } %>" id="legend_first_name">
        <fieldset>
            <label for="first-name" class="form-label-bold">First name</label>
            <legend class="visuallyhidden">First Name
                    <span class="error-message">
                        <% if (error_report) { %>
                        <% error_report[0][0].errMsgs.forEach( function(error) { %>
                        <% if (error.questionId=="first_name") { %>
                        <%= error.fieldSolution%>
                        <% } %>
                        <% }) %>
                        <% } %>
                    </span>
            </legend>

            <input class="form-control" id="first-name" type="text"  autocomplete="on" name="first_name" aria-required="true" <% if (submit_status===true) { %>disabled="disabled"<% } %> value="<% if(form_values){%><%=form_values.first_name%><%} %>">
    </div>


    <div class="form-group <% if (error_report && error_report[1][0].erroneousFields.indexOf('last_name')>-1) { %>error<% } %>" id="legend_last_name">
        <fieldset>
            <label for="last-name"  class="form-label-bold">Last name</label>
            <legend class="visuallyhidden">Last Name
                    <span class="error-message">
                        <% if (error_report) { %>
                        <% error_report[0][0].errMsgs.forEach( function(error) { %>
                        <% if (error.questionId=="last_name") { %>
                        <%= error.fieldSolution%>
                        <% } %>
                        <% }) %>
                        <% } %>
                    </span>
            </legend>
            <input class="form-control" id="last-name" autocomplete="on" type="text"  name="last_name" aria-required="true" <% if (submit_status===true) { %>disabled="disabled"<% } %> value="<% if(form_values){%><%=form_values.last_name%><%} %>">

    </div>
    </fieldset>

    <fieldset>

    <div class="form-group <% if (error_report && error_report[1][0].erroneousFields.indexOf('telephone')>-1) { %>error<% } %>" id="legend_telephone" >
        <fieldset>
            <label class="form-label-bold">Telephone numbers</label>
            <label for="phone"class="form-hint">Primary number</label>
            <legend class="visuallyhidden">Primary Number
                    <span class="error-message">
                        <% if (error_report) { %>
                        <% error_report[0][0].errMsgs.forEach( function(error) { %>
                        <% if (error.questionId=="telephone") { %>
                        <%= error.fieldSolution%>
                        <% } %>
                        <% }) %>
                        <% } %>
                    </span>
            </legend>
            <input type="tel" id="telephone" class="form-control phone"  autocomplete="on" name="telephone" aria-required="true" <% if (submit_status===true) { %>disabled="disabled"<% } %> value="<% if(form_values){%><%=form_values.telephone%><%} %>">
    </div>
  <div class="form-group <% if (error_report && error_report[1][0].erroneousFields.indexOf('mobileNo')>-1) { %>error<% } %>" id="legend_mobileNo" >
    <fieldset>
        <label for="mobileNo"class="form-hint">Mobile number</label>
        <legend class="visuallyhidden">Mobile Number
                    <span class="error-message">
                      <% if (error_report) { %>
                      <% error_report[0][0].errMsgs.forEach( function(error) { %>
                      <% if (error.questionId=="mobileNo") { %>
                      <%= error.fieldSolution%>
                      <% } %>
                      <% }) %>
                      <% } %>
                    </span>
      </legend>

      <input type="tel" id="mobileNo" class="form-control phone"  autocomplete="on" name="mobileNo"  <% if (submit_status===true) { %>disabled="disabled"<% } %> value="<% if(form_values && form_values.mobileNo!=null){%><%=form_values.mobileNo.replace(/\s/g, "")%><%} %>">

  </div>
    </fieldset>

    <fieldset class="inline" style="margin-bottom: 20px">

        <div <% if (error_report && error_report[1][0].erroneousFields.indexOf('has_email')>-1) { %>class="error"<% } %> id="email-question">
            <h2 class="form-label-bold">Do you have an email address?</h2>
            <span class="error-message">
                <% if (error_report) { %>
                <% error_report[0][0].errMsgs.forEach( function(error) { %>
                <% if (error.questionId=="has_email") { %>
                <%= error.fieldSolution%><br/>
                <% } %>
                <% }) %>
                <% } %>
            </span>
            <fieldset role="radiogroup" aria-required="true"  >
                <legend class="visuallyhidden">Do you have an email address
                <span class="error-message">
                    <% if (error_report) { %>
                    <% error_report[0][0].errMsgs.forEach( function(error) { %>
                    <% if (error.questionId=="has_email") { %>
                    <%= error.fieldSolution%><br/>
                    <% } %>
                    <% }) %>
                    <% } %>
                </span>
                </legend>

                <div class="govuk-radios govuk-radios--inline" data-target="emails">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="radio-indent-1" data-target="emails" name="has_email" type="radio" value="yes"  <% if (form_values && form_values.has_email=="yes"){%>checked<%}%>>
                        <label class="govuk-radios__label"  for="radio-indent-1">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="radio-indent-2" name="has_email" type="radio" value="no"  <% if (form_values && form_values.has_email=="no"){%>checked<%}%>>
                        <label class="govuk-radios__label" for="radio-indent-2">
                            No
                        </label>
                    </div>
                </div>

            </fieldset>
        </div>

        <div class="panel panel-border-narrow js-hidden"  <% if (form_values && form_values.has_email=="yes"){%>aria-hidden="false" style="display: block;"<%}%> id="emails">
            <div class="form-group <% if (error_report && error_report[1][0].erroneousFields.indexOf('email')>-1) { %>error<% } %>">
                <label for="email" class="form-label-bold">Email address</label>
                <span class="form-hint">We'll send confirmation of your application here</span>
                <fieldset>
                    <legend class="visuallyhidden">Email address

                    <span class="error-message">
                        <% if (error_report) {
                        var email_error = false;%>
                        <% error_report[0][0].errMsgs.forEach( function(error) { %>
                        <% if (error.questionId=="email") {
                        email_error=true%>
                        <%= error.fieldSolution%><br/>
                        <% } %>
                        <% }) %>
                        <% } %>
                    </span>
                    </legend>
                    <input class="form-control" id="email" autocomplete="on" type="text" <% if (submit_status===true) { %>disabled="disabled"<% } %>  name="email" value="<% if(form_values && form_values.email!=null){%><%=form_values.email%><%} %>">
                </fieldset>
            </div>

            <div class="form-group <% if (error_report && error_report[1][0].erroneousFields.indexOf('confirm_email')>-1) { %>error<% } %>" id="legend_confirm_email">
                <label for="email-confirm" class="form-label-bold">Confirm email address</label>
                <fieldset>
                    <legend class="visuallyhidden">Confirm email address
                    <span class="error-message">
                        <% if (error_report) { %>
                        <% error_report[0][0].errMsgs.forEach( function(error) { %>
                        <% if (error.questionId=="confirm_email") {
                            email_error=true%>
                        <%= error.fieldSolution%><br/>
                        <% } %>
                        <% }) %>
                        <% } %>
                    </span>
                    </legend>

                    <input class="form-control" id="email-confirm" autocomplete="off" type="text" <% if (submit_status===true) { %>disabled="disabled"<% } %>
                           name="confirm_email" value="<% if(form_values && !email_error && form_values.email!=null ){ %><%= form_values.email%><% }%>">
                </fieldset>
            </div>


        </div>
    </fieldset>

    <div class="form-group">
        <input type="submit"  id='NextBtn' role="button" draggable="false" class="govuk-button" data-module="govuk-button" value="<% if(!summary){%>Continue<%}else{%>Save and return to summary<% } %>" />
    </div>
</form>

