<% pageTitle = "Number of Documents" %>

<%if(error_report && error_report.length>0){
    pageTitle = "Error: Number of Documents"
}%>

<div class="inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%>" >

  <%

  var link = '/select-service';

  if (typeof selected_docs !== 'undefined' && selected_docs.totalQuantity>0 && last_doc_checker_page){
   link = last_doc_checker_page
  }%>

  <a href="<%= link%>" class="back-to-previous govuk-link">Back</a>

    <%- partial ('../partials/inner-header.ejs')%>
</div>

<!-- ARIA live region -->
<div id="sr-notification-container" class="visually-hidden " aria-live="assertive" aria-atomic="true"></div>

<h1 class="heading-xlarge">Your documents</h1>

<div class="error-summary <% if (error_report) { %>show<% } else { %>hide<% } %>" role="alert" tabindex="-1" autofocus>

    <h2 class="govuk-error-summary__title" id="error-summary-heading-example-2">
        There is a problem
    </h2>

    <ul class="error-summary-list nomarginbottom">
        <% if (error_report) {  %>
        <li><a href="#documentCount"><%= error_report[0][0].errMsgs[0].fieldError %></a></li>
        <% } %>
    </ul>


</div>

<div class="form-group">

    <form id="document-count-form" action="/business-add-document-quantity"
          method="post" >
        <div class="form-group">
            <div class="<% if (error_report) { %>error<% } %>" id="legend_document_count">
                <label class="form-label-bold" for="eligibilityCheck">Type of documents</label>


              <% if (req.session.appType == 2) { %>
                <p id="eligibilityCheck"><a href="/select-documents" id="check_documents_premium" class="govuk-link">Check if your documents can be legalised</a> and in which format before applying</p>
              <% } %>

              <% if (req.session.appType == 3) { %>
              <p id="eligibilityCheck"><a href="/select-documents" id="check_documents_dropoff" class="govuk-link">Check if your documents can be legalised</a> and in which format before applying</p>
              <% } %>

                    <label class="form-label-bold" for="documentCount">Number of documents</label>
                    <p>How many documents do you want to legalise?</p>
                    <span class="form-hint">Each document costs £<%= doc_cost %>.
                        <% if (req.session.appType === 2) { %>
                            Maximum 20 documents are allowed per application.
                        <% } else if (req.session.appType === 3) { %>
                            Maximum 100 documents are allowed per application.
                        <% } %>
                    </span>

                <legend id="doc_count" class="visuallyhidden"> Your reference (optional) </legend>

                    <span class="error-message">
                        <span class="error-message">
                            <% if (error_report) {  %>
                                <%= error_report[0][0].errMsgs[0].fieldError %>
                            <% } %>
                        </span>
                    </span>

                    <input type="number" aria-required="true" step="any"
                           <% if (submit_status===true) { %>disabled="disabled"<% } %>
                           id="documentCount" name="documentCount"
                           value="<% if (form_values && !selected_docs_count) { %><%= (form_values.doc_count || '') %><% } else if (!form_values && selected_docs_count) { %><%= (selected_docs_count || '')%><% } %>"
                           class="number govuk-input govuk-!-width-one-quarter"
                            <% if (req.session.appType === 2) { %>
                                max="20"
                            <% } else if (req.session.appType === 3) { %>
                                max="100"
                            <% } %>
                    />
            </div>

            <script>let documentCost = <%= doc_cost %>;</script>

            <p id="total-row" class="hide heading-small" >
                Cost to legalise documents: <span id="cost">0</span></p>
        </div>
        <input type="submit"  id='NextBtn' role="button" draggable="false" class="govuk-button" data-module="govuk-button" value="Continue" />

    </form>


</div>
