<% pageTitle = "Additional Payments" %>

<h1 class="heading-xlarge">Make an additional payment for legalisation</h1>

<div class="column-two-thirds">

    <% if (errors.length > 0) {%>
        <% pageTitle = "Error: Additional Payments" %>

        <div class="govuk-error-summary" id="error-details" role="alert" aria-labelledby="error-details additional-information" tabindex="-1" autofocus>

            <h2 class="govuk-error-summary__title" id="error-summary-heading-example-2">
                There is a problem
            </h2>

            <div class="govuk-error-summary__body" id="all-errors">
                    <% if (errors.length > 0 && errors[0].msg) {
                %>      <ul class="govuk-list govuk-error-summary__list">
                    <%
                    for ( var i=0; i < errors.length; i++ )
                    { %><li style="color: #d4351c"><a href="#<%= errors[i].questionId %>"><strong><%= errors[i].msg %></strong></a></li><%}
                    %></ul><%}%>
            </div>
        </div>
    <%}%>

    <p>This page is for making additional payments for existing applications. For example, to pay for an extra document or to pay the correct amount of postage.</p>
    <p class="panel panel-border-narrow">To submit a new application use the <a class="govuk-link" href="https://www.gov.uk/get-document-legalised">legalisation online application service</a> instead.</p>

    <form id="additional-payments-form" method="post" action="/additional-payments/confirm">
        <div class="form-group">
            <div id="legend_cost" class="<% if ((costError && costError === true) || (costErrorAmount && costErrorAmount === true)){%>error <% } %>">
                <label class="form-label-bold" for="cost">How much extra do you need to pay?</label>
                <% if (costError && costError === true){%>
                    <span id="cost-error" class="error-message">
                        <span class="govuk-visually-hidden">Error:</span> Please enter a payment amount
                    </span>
                <% } %>
                <% if (costErrorAmount && costErrorAmount === true){%>
                    <span id="cost-error" class="error-message">
                        <span class="govuk-visually-hidden">Error:</span> Amount must be between £3 and £4000
                    </span>
                <% } %>
                <span style="color:#6f777b;">Enter the amount which you've been told to pay by the Legalisation Office</span>
                <div class="govuk-form-group">
                    <div class="govuk-input__wrapper">
                        <div class="govuk-input__prefix" aria-hidden="true">£</div>
                        <input class="govuk-input govuk-input--width-5" id="applicationAmount" name="applicationAmount" type="text" spellcheck="false" <% if (req.session.additionalPayments) {%>value="<%= req.session.additionalPayments.applicationAmount %>"<%} else {%> value="<%= applicationAmount %>" <% }%>>
                    </div>
                </div>
            </div>
            <div id="legend_email" class="<% if (emailError === true){%>error<% } %>">
                <label class="form-label-bold" for="email">What is your email address?</label>
                <% if (emailError && emailError === true){%>
                <span id="email-error" class="error-message">
                    <span class="govuk-visually-hidden">Error:</span> Please enter a correctly formatted email address.
                </span>
                <% } %>
                <span style="color:#6f777b;">Enter your email so we can send you a payment confirmation</span>
                <input type="text" aria-required="true" class="govuk-input govuk-!-width-one-half" id="applicationEmail" name="applicationEmail" autocomplete="on"
                       <% if (req.session.additionalPayments) {%>value="<%= req.session.additionalPayments.applicationEmail %>"<%} else {%> value="<%= applicationEmail %>" <% }%>>
            </div>
            <br />
            <input type="hidden" id="applicationRef" name="applicationRef" <% if (req.session.additionalPayments) {%>value="<%= req.session.additionalPayments.applicationRef %>"<%} else {%> value="<%= applicationRef %>" <% }%>>
            <input type="submit" id="NextBtn" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" value="Continue">
        </div>
    </form>

</div>

<% errors = [] %>
